{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row text-center">
        <h2 class="h2">Cadastro de Pendências</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row text-end">
            <div class="col">        
                <select class="form-select" name="select-nivel" id="select-nivel">
                    {% for nivel in niveis %}
                        <option id="nivel" value="{{ nivel.nivel }}">{{ nivel.nivel }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">                
                <input class="form-control" name="pendencia" id="pendencia" placeholder="Pendencia">
            </div>
            <div class="col" style="top: 20px;">
                <input type="submit" class="btn btn-primary" value="Salvar">
            </div>
        </div>
    </form>
    <div class="table-responsive text-center">
        <table
            class="table">
            <thead>
                <tr>
                    <th>Nivel</th>
                    <th>Pendências</th>
                    <!--<th>Ação</th>!-->
                </tr>
            </thead>
            <tbody>                
                {% for pendencia in pendencias %}
                <tr>
                    <td>{{ pendencia.nivel.nivel }}</td>
                    <td>{{ pendencia.pendencia }}</td>
                    <!--<td>
                        <a href="#edit">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="#delete">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>!-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}