{% extends 'base.html' %}

{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row text-center">
        <h2 class="h2">Adicionar Pontuação</h2>
    </div>
    <br>
    <br>
    <div class="consulta">
        <form method="GET" action="{% url 'add' %}">
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" name="busca" placeholder="Pesquisar usuário">
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <form class="mx-auto" method="POST" enctype="multipart/form-data">
        {% csrf_token %}      
        <div class="row p-4 mb-5 bg-body rounded" style="border: 1px solid #000;">
            <div class="col">
                <label for="select-atividade" class="form-label">Atividade</label>
                <select class="form-select" id="select-atividade" name="select-atividade" aria-label="Atividade"
                    onchange="ativarPontuacao(this.value)">
                    {% for atividade in atividades %}
                    <option id="atividade" value="{{ atividade.id }}">{{ atividade.nome_atividade }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="pontuacao" class="form-label">Pontuação</label>
                <input type="number" class="form-control" id="pontuacao" name="pontuacao" value="" disabled>
            </div>
            <div class="row text-end" style="padding-top: 10px;">
                <div class="col">
                    <input type="submit" class="btn btn-warning" style="border-radius: 20px;" value="Salvar">
                </div>
            </div>
        </div>
        {% include "partials/member_table.html" with profiles=profiles %}        
        <br>
    </form>
</div>

<script>
    function ativarPontuacao(value) {
        let val = -1;
        {% for atividade in atividades %}
        if ({{ atividade.id }} == value) {
            val = {{ atividade.pontuacao }};
        }
        {% endfor %}
        
        if (val == "0") {
            pontuacao.value = 0;
            pontuacao.disabled = false
        }
        else {
            pontuacao.value = val == -1 ? "" : val;
            pontuacao.disabled = true;
        }
    }

    window.onload = function () {
        let id = document.getElementById("select-atividade").value;
        ativarPontuacao(id);
    }

    let pontuacao = document.getElementById("pontuacao");
</script>
{% endblock content %}