{% extends 'base.html' %}

{% block content %}

<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row text-center" style="padding-bottom: 30px;">
        <h2 class="h2">Log de pontuação</h2>
    </div>
    <form method="GET">
        <div class="row">
            <div class="input-group" style="padding-bottom: 20px;">
                <div class="col">
                    <input type="text" class="form-control" name="busca" placeholder="Buscar usuário">
                </div>
                <select class="form-select" id="filter_field" name="filter_field" aria-label="Filtro">
                    <option id="first_name" value="first_name">Nome</option>
                    <option id="username" value="username">Usuário</option>
                    <option id="email" value="email">E-mail</option>
                </select>
                <div class="row">
                    <div class="col">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"> Pesquisar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <th>Usuário</th>
                <th>Pontução Atual</th>
                <th>Pontuação Anterior</th>
                <th>Pontuação Ganha</th>
                <th>Atividade</th>
                <th>Data</th>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.user_id }}</td>
                    <td>{{ log.pontuacao|add:log.pontuacao_ganha }}</td>
                    <td>{{ log.pontuacao }}</td>
                    <td>{{ log.pontuacao_ganha}}
                    <td>{{ log.atividade.nome_atividade }}</td>
                    <td>{{ log.updated_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <div class="row text-end">
        <div class="col">
            <a class="btn btn-primary" href="{% url 'add' %}">Pontuar Usuário</a>
        </div>
    </div>
</div>

{% endblock content %}