{% load static %}

<div class="border p-3 mb-3">
    <h3>Criar Proposta</h3>
    <form method="post">
        <div class="input-group mb-3">
            {% csrf_token %}
            <span class="input-group-text" id="search-icon"><i class="bi bi-search"></i></span>
            <input type="text" id="proposeHash" placeholder="Hash da Proposta" class="form-control"
                aria-describedby="search-icon" name="proposeHash" value="{{ hash }}" required>
        </div>
    </form>
    <div class="input-group mb-3">
        <span class="input-group-text" id="amount-label"><i class="bi bi-coin"></i></span>
        <input type="text" id="amount" name="amount" placeholder="Quantidade de Tokens (inteiros)"
            class="form-control" aria-describedby="amount-label" value="{{ quantidade_token }}" disabled/>
    </div>
    <div class="input-group mb-3">
        <input type="text" id="wallet" name="wallet" placeholder="Carteira para recebimento" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="price-label">R$</span>
        <input type="text" data-type="currency" id="price" name="price" class="form-control" value="{{ valor_total_brl }}" disabled>
    </div>
    <input type="button" value="Criar Proposta" class="btn btn-primary" id="btnMakePropose">
</div>