{% load static %}

<div class="border p-3 mb-3">
    <h3>Criar Proposta</h3>
    <div class="input-group mb-3">
        <input type="text" id="proposeHash" placeholder="Hash da Proposta" class="form-control">
    </div>
    <div class="input-group mb-3">
        <input type="number" id="amount" name="amount" placeholder="Quantidade de Tokens (inteiros)" class="form-control mb-3">
    </div>
    <div class="input-group mb-3">
        <input type="text" id="wallet" name="wallet" placeholder="Carteira para recebimento" class="form-control mb-3">
    </div>
    <div class="input-group mb-3">
        <input type="number" id="price" name="price" placeholder="Preço em BRL" class="form-control mb-3">
    </div>
    <input type="button" value="Criar Proposta" class="btn btn-primary" id="btnMakePropose">
</div>