<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
        href="{% url 'index' %}">Minha Área</a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{% url 'user_page' %}">Perfil</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'contato' %}">Contato</a>
        </li>
        {% include "partials/navbar_components/proposta_dropdown.html" %}
        
        {% include "partials/navbar_components/mercado_secundario_dropdown.html" %}
        
        {% include "partials/navbar_components/graca_dropdown.html" %}
        
    </ul>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        let subMenuToggles = document.querySelectorAll('.dropdown-menu .dropdown-toggle');
        
        subMenuToggles.forEach(function(toggle) {
            toggle.addEventListener('click', function(e) {            
                e.stopPropagation();
                e.preventDefault();
                let subMenu = this.nextElementSibling;
                if (subMenu && subMenu.classList.contains('dropdown-menu')) {
                    subMenu.classList.toggle('show');
                }
            });
        });
    });
    </script>
</li>