{% extends 'base.html' %}
{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row text-center">
        <h1>Cadastro de Anúncio</h1>
    </div>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control" id="images" name="images" type="file" accept=".png, .jpeg, .jpg" multiple>
        {{ anuncio_form.as_p }}
        <div class="row text-end">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Criar">
            </div>
        </div>
    </form>
</div>
{% endblock content %}