{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="container">
        <div class="row">
            <div class="row">
                <h2>{{ anuncio.titulo }}</h2>
            </div>
            <div class="row">
                <p class="small">{{ anuncio.cod_anuncio }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">            
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="font-size: large;">
                    <div class="carousel-inner">
                        {% if imagens|length == 0 or imagens is None %}
                            <div class="carousel-item active">
                                <img src="{% static 'images/default-fraguinha.png' %}" class="d-block w-100" alt="..." width="300">
                            </div>
                        {% else %}
                        {% for imagem in imagens %}
                            <div class="carousel-item active">
                                <img src="{{ imagem.image.url }}" class="d-block w-100" width="300">
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <div class="row text-end">
                    <h5 class="preco-card">R$ {{ anuncio.preco }}</h5>
                </div>                
                <br>
                <h4>Descrição</h4>
                <hr>
                <p>{{ anuncio.descricao }}</p>
                <hr>
                <p style="font-size: small; font-style: italic;">Atualizado: {{ anuncio.updated_at }} <i class="bi bi-clock"></i></p>
            </div>
            <div class="col col-sm-4">
                <div class="card" style="width: 22rem;">
                    <img src="{{ profile.pic_profile.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'profile' username=member.username %}">{{ member.username }}</a></h5>
                    {% if user.is_authenticated %}
                    <p><i class="bi bi-whatsapp"></i> {{ member.fone }}</p>
                    <p><i class="bi bi-envelope-at-fill"></i> {{ member.email }}</p>
                    <p><i class="bi bi-instagram"></i> {{ member.instagram }}</p>
                    <p class="small">localidade: <i class="bi bi-geo-alt-fill"></i> {{ member.city}}</p>
                    {% else %}
                    <p>Faça o login para entrar em contato!</p>
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row">
        <h3>Deixe um comentário</h3>
    </div>
    <br>
    <form action="post" id="form_comentario">
        <div class="row">
            <p>
                Preço:  
                <i class="bi bi-star-fill" id="star"></i>
                <i class="bi bi-star-fill" id="star"></i>
                <i class="bi bi-star-fill" id="star"></i>
                <i class="bi bi-star-fill" id="star"></i>
                <i class="bi bi-star-fill" id="star"></i>
            </p>
        </div>
        <div class="row">
            <p>
                Qualidade: 
                <i class="bi bi-star-fill" id="star"></i>
                <i class="bi bi-star-fill" id="star"></i>
                <i class="bi bi-star-fill" id="star"></i>
                <i class="bi bi-star-fill" id="star"></i>
                <i class="bi bi-star-fill" id="star"></i>
            </p>
        </div>        
        <div class="row">
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título">
        </div>
        <br>
        <div class="row">
            <textarea name="comentario" id="comentario" class="form-control" placeholder="Comentário..." ></textarea>
        </div>
        <br>
        <div class="row text-end">
            <div class="col">
                <a href="#" class="btn btn-primary">Enviar</a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}