{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm border-0 rounded-3">                    
                    <div class="card-body">
                        <h2 class="text-center">Consultas</h2>
                        {% include "partials/consultas/consulta_saldo_usdt.html" %}
                        {% include "partials/consultas/consulta_porcentagens_atuais.html" %}
                        {% include "partials/consultas/consulta_stakers_ativos.html" %}
                        {% include "partials/consultas/consulta_staker.html" %}
                        {% include "partials/consultas/consulta_status_votacao.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include "partials/wallet_connection.html" %}
    
</div>

<script src="{% static 'js/graca/graca.js' %}"></script>
<script src="{% static 'js/web3/muriloethereum.js' %}"></script>
<script src="{% static 'js/web3/web3.js' %}"></script>
<script src="{% static 'js/web3/connect.js' %}"></script>
<script src="{% static 'js/web3/979.connect.js' %}"></script>
<script src="{% static 'js/web3/416.connect.js' %}"></script>
<script src="{% static 'js/web3/120.connect.js' %}"></script>
<script src="{% static 'js/web3/initialize.js' %}"></script>
<script src="{% static 'js/web3/main.js' %}"></script>
{% endblock %}