{%extends 'base.html' %}

{% block content %}
{% load static %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row">
        <h1 class="text-center">Adicionar Certificados</h1>
    </div>
    <br>
    <br>
    <div class="consulta">
        <form method="GET" action="{% url 'add_certificados' %}">
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" name="busca" placeholder="Pesquisar usuário">
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
    </div>   

    <form method="POST" class="mx-auto" enctype="multipart/form-data" style="padding-top: 20px;">
        {% csrf_token %}
        {% include "partials/member_table.html" with profiles=profiles %}
        <br>
        <div class="row p-4 mb-5 bg-body rounded" style="border: 1px solid #000;">
            <div class="col">
                <label for="certificado" class="form-label">Certificado</label>
                <input type="text" class="form-control" id="certificado" name="certificado">
            </div>
            <div class="col">
                <label for="select-status" class="form-label">Status</label>
                <select class="form-select" id="select-status" name="select-status" aria-label="Status">
                    <option id="status" value="1">Completo</option>
                    <option id="status" value="2">Em Andamento</option>
                    <option id="status" value="3">Falhou</option>
                </select>
            </div>
        </div>
        <div class="row text-end" style="padding-top: 20px;">
            <div class="col">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>

    <script src="{% static 'js/cursos/addCertificados.js' %}"></script>
</div>
{% endblock %}