{%extends 'base.html' %}

{% block content %}
{% load static %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row">
        <h1 class="text-center">Certificados</h1>
    </div>
    <form method="GET" class="col-md-8 mx-auto" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            <tbody class="body">
                {% for certificado in certificados %}
                <tr>
                    <td>{{ certificado.certificado_nome }}</td>
                    <td>{% if certificado.certificado_status == 1 %}
                    <i class="bi bi-patch-check-fill" style="color: green;">Completado</i>
                    {% elif certificado.certificado_status == 2 %}
                    <i class="bi bi-patch-check-fill" style="color: orange;">Em Andamento</i>
                    {% elif certificado.certificado_status == 3 %}
                    <i class="bi bi-patch-check-fill" style="color: red;">Falhou</i>
                    {% endif %}
                    </td>
                    {% if user.is_superuser %}
                    <td>
                        <a href="#" onclick="removeCertificado('{{ certificado.id }}')" ><i class="bi bi-trash3"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}            
            </tbody>            
        </table>
        <p><i class="bi bi-patch-check-fill" style="color: green;">Completado</i>
        <i class="bi bi-patch-check-fill" style="color: orange;">Em Andamento</i>
        <i class="bi bi-patch-check-fill" style="color: red;">Falhou</i></p>
    </form>
</div>
<script>
    async function removeCertificado(certificadoId) {
        const usuarioId = "{{ profile.user.user_ptr_id }}";
        try {
            const response = await fetch("{% url  'remove_curso' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}",
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'usuario_id': usuarioId,
                    'certificado_id': certificadoId,
                }),
            });

            if (response.ok) {
                alert('Certificado removido com sucesso!');
                location.reload();
            } else {
                alert('Erro ao remover certificado.');
                location.reload();
            }
        } catch(error) {
            alert('Falha ao tentar remover certificado.');
        }
        
    }
</script>
{% endblock %}