{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    .text-erro {
        color: red;
        display: none;
    }
</style>
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row text-center">
        <h2 class="h2">Cadastro de Pendências</h2>
    </div>
    <br>
    <br>
    <form method="POST" id="form-add">
        {% csrf_token %}
        <div class="row text-end">
            <div class="col">
                <select class="form-select" name="select-nivel" id="select-nivel">
                    {% for nivel in niveis %}
                    <option id="nivel" value="{{ nivel.nivel }}">{{ nivel.nivel }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <input class="form-control" name="pendencia" id="pendencia" placeholder="Pendencia">
            </div>
            <div class="col">
                <span id="validation-pendencia" class="text-erro">Preencher pendência</span>
            </div>
            <div class="col" style="top: 20px;">
                <input type="submit" id="salvar" class="btn btn-primary" value="Salvar">
            </div>
        </div>
    </form>
    <br>
    <form method="POST">
        <div class="table-responsive text-center">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nivel</th>
                        <th>Pendências</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pendencia in pendencias %}
                    <tr>
                        <td>{{ pendencia.nivel.nivel }}</td>
                        <td>{{ pendencia.pendencia }}</td>
                        <td>
                            <a href="{% url 'edita_pendencia' id=pendencia.id %}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="{% url  'remove_pendencia' id=pendencia.id %}" id="remove-pendencia">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

<script src="{% static 'js/pendencia.js' %}"></script>

{% endblock content %}