{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="text-center">
        <h3>Pendências {{ usuario.username }}</h3>
    </div>
    <br>
    <br>
    <table class="table text-center table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" style="display: none;">Id</th>
                <th scope="col">Nível</th>
                <th scope="col">Pendência</th>
                <th scope="col">Status</th>
                {% if user.is_superuser %}
                <th scope="col">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for p_pendencia in profile_pendencias %}
            <tr>
                <td style="display: none;">{{ p_pendencia.id }}</td>
                <td>{{ p_pendencia.nivel.nivel.capitalize }}</td>
                <td>{{ p_pendencia.pendencia.pendencia }}</td>
                <td>
                    {% if p_pendencia.pendencia_status == 0 %}
                    Pendente
                    {% elif p_pendencia.pendencia_status == 1 %}
                    Em Andamento
                    {% elif p_pendencia.pendencia_status == 2 %}
                    Finalizado
                    {% endif %}
                </td>
                {% if user.is_superuser %}
                <td>
                    {% if p_pendencia.pendencia_status != 2 %}
                    <button class="btn btn-success" onclick="finalizaPendencia({{ p_pendencia.id }})"><i
                            class="bi bi-floppy2-fill"></i></button>
                    {% endif %}

                    <button class="btn btn-danger" onclick="removePendencia({{ p_pendencia.id }})"><i
                            class="bi bi-x-square-fill"></i></button>

                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
        {% if user.is_superuser %}
        <tfoot>
            <tr>
                <td colspan="4">
                    <a class="btn btn-secondary" href="{% url 'add_pendencia_usuario' id=usuario.id %}">
                        Adicionar Pendência
                    </a>
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</div>

<script>
    async function finalizaPendencia(profilePendenciaId) {
        const confirmation = confirm("Você tem certeza que deseja finalizar pendência?");

        if (!confirmation) {
            return;
        }

        const url = "{% url 'finaliza_pendencia_usuario' profile_pendencia_id=0 %}".replace('0', profilePendenciaId);
        console.log(url);
        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}",
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'usuario_id': "{{ usuario.id }}",
                })
            });

            if (response.ok) {
                alert('✔️ Pendência finalizada com sucesso!');
                location.reload();
            } else {
                alert('❗Erro ao finalizar pendências.');
                location.reload();
            }

        } catch (error) {
            alter('❗Erro inesperado ao enviar o formulário.')
        }
    }

    async function removePendencia(profilePendenciaId) {
        const confirmation = confirm("Você tem certeza que deseja remover pendência?");
        if (!confirmation) {
            return;
        }

        const url = "{% url 'remove_pendencia_usuario' profile_pendencia_id=0 %}".replace('0', profilePendenciaId);
        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}",
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'profile_pendencia_id': profilePendenciaId
                })
            });

            if (response.ok) {
                alert('Pendência apagada com sucesso!');
                location.reload();
            } else {
                alert('Erro ao remover pendência.');
                location.reload();
            }
        } catch (error) {
            alert('Erro ao tentar remover pendência.');
        }
    }
</script>

{% endblock %}