{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static '/css/anarcopolis.css' %}"/>
<link rel="stylesheet" href="{% static '/css/components.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<section class="hero-section">
    <div class="wrapper-img-bg">
         <img src="{% static '/images/anarcopolis1.webp' %}" alt="anarcopolis-2025" class="img-fluid" />
    </div>
    <div class="container-fluid d-flex align-items-center justify-content-center hero-content">
        <div class="wrapper-hr-section">
            <h5>O MAIOR ENCONTRO LIBERTÁRIO DO BRASIL</h5>
            <h3>ANARCÓPOLIS</h3>
            <h6>2025</h6>
            <div style="display: flex; align-items: center; justify-content: center; gap: 30px;">
                <p><i class="fa-solid fa-calendar-days"></i> 29/11 - 04/12 
                <p><i class="fa-solid fa-location-dot"></i> Florianópolis - SC</p>
            </div>
            <p class="hr-cta">
                 Hotel Porto Sol Ingleses • 6 dias de imersão total • Palestras, workshops e networking com a comunidade libertária
            </p>
            <div class="wrapper-btn-hr">
                <a href="#" class="btn-buy"><i class="fa-solid fa-up-right-from-square"></i> COMPRE AQUI</a>
                <a href="#" class="btn-info"><i class="fa-solid fa-info"></i> MAIS INFORMAÇÕES</a>
            </div>
        </div>
    </div>
</section>

<section class="ingressos">
    <div class="container d-flex align-items-center justify-content-center">
        <h4 class="mt-5">INGRESSOS</h4>
    </div>
    <div class="container d-flex justify-content-center align-items-center px-0 text-center container-ingressos">
        <div class="row w-100 justify-content-center d-flex flex-wrap">

            <!--Coluna lei natural-->
            <div class="col-md-4 d-flex flex-column" id="container-cards">
                <div class="wrapper-container d-flex flex-column h-100">
                    <div class="wrapper-bio-alt flex-grow-1 d-flex flex-column">
                        <h2 class="pb-12">NORMAL</h2>
                        <p>
                            R$ 439
                        </p>

                    </div>
                </div>
            </div>

            <!--Coluna lei natural-->
            <div class="col-md-4 d-flex flex-column" id="container-cards">
                <div class="wrapper-container d-flex flex-column h-100">
                    <div class="wrapper-bio-alt flex-grow-1 d-flex flex-column">
                        <h2 class="pb-12">VIP</h2>
                        <p>
                            R$ 749
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock content %}