{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static '/css/anarcopolis.css' %}"/>
<link rel="stylesheet" href="{% static '/css/components.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<section class="hero-section">
    <div class="wrapper-img-bg" id="carousel">
         <img src="{% static '/images/anarcopolis1.webp' %}" alt="anarcopolis-2025" class="img-fluid active" />
         <img src="{% static '/images/anarcopolis2.webp' %}" alt="anarcopolis-2025" class="img-fluid" />
         <img src="{% static '/images/anarcopolis3.webp' %}" alt="anarcopolis-2025" class="img-fluid" />
         <img src="{% static '/images/anarcopolis6.webp' %}" alt="anarcopolis-2025" class="img-fluid" />
    </div>
    <div class="container d-flex align-items-center justify-content-center hero-content">
        <div class="wrapper-hr-section">
            <h5>O MAIOR ENCONTRO LIBERTÁRIO DO BRASIL</h5>
            <h3>ANARCÓPOLIS</h3>
            <h6>2025</h6>
            <div style="display: flex; align-items: center; justify-content: center; gap: 30px;">
                <p><i class="fa-solid fa-calendar-days"></i> 29/11 - 04/12 
                <p><i class="fa-solid fa-location-dot"></i> Florianópolis - SC</p>
            </div>
            <p class="hr-cta">
                 Hotel Porto Sol Ingleses • 6 dias de imersão total • Palestras, workshops e networking com a comunidade libertária
            </p>
            <div class="wrapper-btn-hr">
                <a href="https://goingressos.com.br/evento/anarcopolis-2025"><i class="fa-solid fa-up-right-from-square"></i> COMPRE AQUI</a>
                <a href="#" onclick="window.location.href='/anarcopolisinfo'"><i class="fa-solid fa-circle-info"></i> MAIS INFORMAÇÕES</a>
            </div>
        </div>
    </div>
</section>

<section class="ticket">
    <div class="container d-flex flex-column align-items-center justify-content-center" style="position: relative;">
        <h4 class="mt-5">INGRESSOS</h4>
        <h6 class="mt-4">Escolha sua experiência no maior encontro libertário do Brasil</h6>
    </div>
    <div class="container d-flex justify-content-center align-items-center px-0 container-ticket mt-5">
        <div class="row w-100 justify-content-center d-flex flex-wrap" style="padding: 0 5%;">

            <!--Coluna NORMAL-->
            <div class="col-lg-6 d-flex flex-column" id="container-cards">
                <div class="wrapper-container d-flex flex-column h-100">
                    <div class="wrapper-ticket flex-grow-1 d-flex flex-column">
                        <i class="fa-solid fa-circle-user" id="icon-ticket"></i>
                        <h2 class="pb-12">NORMAL</h2>
                        <p class="price-ticket">
                            R$ 439
                        </p>
                        <p>
                            <i class="fa-regular fa-circle-check"></i> Acesso a todas as palestras
                        </p>
                        <p>
                           <i class="fa-regular fa-circle-check"></i> Eventos sociais
                        </p>
                        <p>
                           <i class="fa-regular fa-circle-check"></i> Workshops dia 03/12
                        </p>
                        <p>
                           <i class="fa-regular fa-circle-check"></i> Brindes do evento
                        </p>
                    </div>
                </div>
            </div>

            <!--Coluna VIP-->
            <div class="col-lg-6 d-flex flex-column" id="container-cards">
                <div class="wrapper-container d-flex flex-column h-100">
                    <div class="wrapper-ticket ticket-vip flex-grow-1 d-flex flex-column">
                        <i class="fa-solid fa-crown" id="icon-ticket"></i>
                        <h2 class="pb-12">VIP</h2>
                        <p class="price-ticket">
                            R$ 749
                        </p>
                        <p>
                           <i class="fa-regular fa-circle-check"></i> Tudo do ingresso normal
                        </p>
                        <p>
                          <i class="fa-regular fa-circle-check"></i> Lugares próximos ao palco
                        </p>
                        <p>
                           <i class="fa-regular fa-circle-check"></i> Almoço com palestrantes (3 dias)
                        </p>
                        <p>
                           <i class="fa-regular fa-circle-check"></i> Gravações das edições
                        </p>
                        <p>
                           <i class="fa-regular fa-circle-check"></i> Brindes exclusivos
                        </p>
                    </div>
                </div>
            </div>
            <div class="container d-flex align-items-center justify-content-center mt-5">
                <div class="wrapper-notify">
                    <p><i class="fa-solid fa-triangle-exclamation"></i><span><strong>ATENÇÃO - CASO COMPRE E NÃO COMPAREÇA NESTA EDIÇÃO</strong></span> <br/>
                    Você poderá usar este mesmo ingresso para uma edição futura.<br/>
                    <strong>Ingressos vip's:</strong> Avise com pelo menos <strong>1 mês</strong> de antecedência.<br>
                    <button onclick="window.location.href='/anarcopolisinfo'" 
                    style=
                    "text-decoration: none; 
                    color: rgb(30, 101, 226);
                    border: none;
                    background-color: rgba(240, 248, 255, 0);
                    border-bottom: solid;
                    font-size: clamp(1.2rem, 1.7vw, 1.4rem);
                    padding: 0;
                    "><strong>Clique aqui para mais informações</strong></button>
                    </p>
                </div>
            </div>
            <div class="container d-flex align-items-center justify-content-center mt-5 mb-5 pb-5">
                <a href="https://goingressos.com.br/evento/anarcopolis-2025" class="btn-buy"><i class="fa-solid fa-up-right-from-square"></i> COMPRE AQUI</a>
            </div>
        </div>
    </div>
</section>

<section class="host">
    <div class="container d-flex flex-column align-items-center justify-content-center" style="position: relative;">
        <h4 class="mt-5">HOSPEDAGEM</h4>
        <h6 class="mt-4"><a href=" https://www.hoteisportosol.com.br/hoteis/ingleses">
            <i class="fa-solid fa-up-right-from-square"></i> Hotel Porto Sol Ingleses • Fique no coração do evento</a></h6>
    </div>
    <div class="container d-flex ct-info-host">
        <p>
            <span>O que está incluso:</span><br/>
            <i class="fa-solid fa-bed"></i>Quartos com 25m² equipados<br/>
            <i class="fa-solid fa-mug-hot"></i>5 noites com café da manhã<br/>
            <i class="fa-solid fa-wifi"></i>Wi-Fi e Ar Condicionado<br/>
            <i class="fa-solid fa-person-swimming"></i>Piscinas e quadras esportivas — <br>ㅤㅤfutebol, tênis, vôlei de praia, beach tennis e futevôlei.
        </p>
        <div class="container d-flex ct-rooms">
            <div class="row d-flex gap-4" style="width: fit-content;">
                <div class="col-sm">
                    <p style="margin-top: 7%;"><span>Quartos Privativos</span></p>
                    <p style="margin-top: 13%">Individual: R$ 1680</p>
                    <p>Casal: R$ 1910</p>
                </div>
                <div class="col-sm">
                    <p style="margin-top: 4%"><span>Quartos Compartilhados</span></p>
                    <p><strong>Triplo:</strong> R$ 790</p>
                    <p><strong>Quádruplo:</strong> R$ 720</p>
                </div>
            </div>
         </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center" style="margin-bottom: 2%;">
        <div class="wrapper-alert">
            <p><i class="fa-solid fa-clock"></i><span>ATENÇÃO - PRAZO LIMITE</span>  <br/>
            Reservas de hospedagem devem ser feitas até <strong>10 de Agosto de 2025</strong> para garantir disponibilidade.<br/>
            <a href="#" onclick="window.location.href='/anarcopolisinfo'">Clique aqui para mais informações sobre</a>
            </p>
        </div>
    </div>
</section>

<section class="timeline">
    <div class="container d-flex flex-column align-items-center justify-content-center" style="position: relative;">
        <h4 class="mt-5">CRONOGRAMA</h4>
        <h6 class="mt-4">
            6 dias de imersão total na filosofia libertária
        </h6>
    </div>  
    <div class="container d-flex flex-column text-aling-left justify-content-center mt-5 pt-5 ct-timeline">
        <div class="col-lg-6 d-flex">
            <span style="background-color: rgb(202, 179, 43); color: black; padding: 15px 20px;">29/11<br/>Sexta</span>
            <p><strong>Boas vindas</strong><br>Check-in às 15:00h e noite de boas-vindas</p>
        </div>
         <div class="col-lg-6 d-flex">
            <span class="red" style="padding: 15px 15px; color: white;">30/11<br/>Sábado</span>
            <p><strong>Palestras + Social</strong><br> 5 palestras durante o dia e evento social à noite</p>
        </div>
         <div class="col-lg-6 d-flex">
            <span class="red" style="padding: 15px 10px; color: white;">01/12<br/>Domingo</span>
            <p><strong>Palestras + Social</strong><br> 5 palestras durante o dia e evento social à noite</p>
        </div>
         <div class="col-lg-6 d-flex">
            <span class="red" style="padding: 15px 10px; color: white;">02/12<br/>Segunda</span>
            <p><strong>Palestras + Social</strong><br> 5 palestras durante o dia e evento social à noite</p>
        </div>
         <div class="col-lg-6 d-flex">
            <span style="background-color: rgb(202, 179, 43); color: black; padding: 15px 20px;">03/12<br/>Terça</span>
            <p><strong>Workshop + Lazer</strong><br> Workshops, atividades esportivas e evento social</p>
        </div>
         <div class="col-lg-6 d-flex">
            <span style="background-color: rgb(128, 128, 128); color: white; padding: 15px 18px;">04/12<br/>Quarta</span>
            <p><strong>Despedida</strong><br> Café da manhã e check-out às 12:00h</p>
        </div>
    </div>
</section>

<section class="retrospective mt-5 ">
    <div class="container d-flex flex-column align-items-center justify-content-center mt-5" style="position: relative;">
        <h4 class="mt-5">RETROSPECTIVA</h4>
        <h6 class="mt-4">
            Reviva os melhores momentos das edições passadas
        </h6>
    </div>
    <div class="container d-flex flex-column mt-5 mb-5 pb-5" style="min-height: 100dvh; max-height: fit-content;">
        <div class="row align-items-center justify-content-center row-cards">
            <!-- Card 1 -->
                <div class="col-md-6 mb-4 col-cards">
                    <div class="card">
                    <a href="https://www.instagram.com/reel/DCp2JUes8LB/?igsh=MXRyNTBldTRldzZxeA==">
                        <img src="{% static '/images/anarcopolis6.webp' %}" class="card-img-top img-fluid" alt="card">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                    </div>
                </div>

            <!-- Card 2 -->
            <div class="col-md-6 mb-4 col-cards">
                <div class="card">
                <a href="https://www.instagram.com/reel/DC4ZVzjRtEb/?igsh=MzFuYWYxYzY4aXJl">
                    <img src="{% static '/images/anarcopolis3.webp' %}" class="card-img-top img-fluid" alt="card">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <!--
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary"></a>
                    </div>
                -->
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-6 mb-4 col-cards">
                <div class="card">
                <a href="https://www.instagram.com/reel/DCrSZ5lxHXW/?igsh=MTlrbDVuYWZkd3AycA==">
                    <img src="{% static '/images/anarcopolis2.webp' %}" class="card-img-top img-fluid" alt="card">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                </div>
            </div>

             <!-- Card 4 -->
            <div class="col-md-6 mb-4 col-cards">
                <div class="card">
                <a href="https://www.instagram.com/reel/DCrSZ5lxHXW/?igsh=MTlrbDVuYWZkd3AycA==">
                    <img src="{% static '/images/anarcopolis5.webp' %}" class="card-img-top img-fluid" alt="card">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                </div>
            </div>

        </div>
        <div class="container d-flex flex-column align-items-center justify-content-center mt-5 ct-midia">
            <h5>Na mídia</h5>
            <div class="d-flex flex-row gap-4 w-100 align-items-center justify-content-center" id="row-midia">
                <a href="https://livecoins.com.br/anarcopolis-vai-ensinar-brasileiros-a-criar-carteira-de-bitcoin-e-realizar-transacoes/">Livecoins: Anarcópolis, maior conferência libertária do Brasil <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                <a href="https://www.poder360.com.br/opiniao/o-anarcocapitalismo-e-a-lei-natural/">Paula Schmitt - Poder 360: “O Anarcocapitalismo e a Lei Natural” <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
    </div>
</section>

<script>
    let i = 0, imgs = document.querySelectorAll("#carousel img");
    setInterval(() => {
    imgs[i].classList.remove("active");
    i = (i + 1) % imgs.length;
    imgs[i].classList.add("active");
    }, 3000);
</script>

{% endblock content %}