<!DOCTYPE html>
<html lang="eng">

<head>
    {% load static %}
    {% block metadados %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conheça o Fraguismo, a primeira religião libertária do Brasil, baseada em liberdade, propriedade e resistência pacífica.">
    <meta name="robots" content="index, follow">
    <!-- Meta Tags Sociais -->
    <meta property="og:title" content="Fraguismo - A Primeira Religião Libertária do Brasil">
    <meta property="og:description" content="Conheça os fundamentos do Fraguismo: liberdade, propriedade e resistência pacífica. Veja cursos, vídeos e textos exclusivos.">
    <meta property="og:url" content="https://fraguismo.org">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static '/images/favicon.ico' %}">
    <meta charset="UTF-8">
    <!--Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Fraguismo - Religião Libertária Brasileira">
    <meta name="twitter:description" content="Textos, cursos e mídia sobre a filosofia libertária do Fraguismo.">
    <meta name="twitter:image" content="{% static '/images/favicon.ico' %}">
    <!---->
    <meta name="keywords" content="Fraguismo, religião libertária, liberdade, propriedade, resistência pacífica, filosofia libertária, doutrina, textos libertários, cursos, podcasts">
    {% endblock metadados %}
    <link rel="stylesheet" href="{% static '/css/components.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {% load django_bootstrap5 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    <header id="site-header" class="site-header">
        {% include 'partials/navbar.html' %}
    </header>

    <div
        class="{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'anarcopolis' %}container-fluid container-geral{% else %}container pb-5 ct-geral mb-2{% endif %}">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

    <footer>
        {% include 'partials/footer.html' %}
    </footer>
    {% block javascript %}

    <script src="https://kit.fontawesome.com/32cd59ffee.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/utils/applyFormatNumber.js' %}"></script>
    {% endblock javascript %}
</body>

</html>