<!DOCTYPE html>
<html lang="eng">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conheça o Fraguismo, a primeira religião libertária do Brasil, baseada em liberdade, propriedade e resistência pacífica.">
    <meta name="robots" content="index, follow">
    <!-- Meta Tags Sociais -->
    <meta property="og:title" content="Fraguismo - A Primeira Religião Libertária do Brasil">
    <meta property="og:description" content="Conheça os fundamentos do Fraguismo: liberdade, propriedade e resistência pacífica. Veja cursos, vídeos e textos exclusivos.">
    <meta property="og:url" content="https://fraguismo.org">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static '/images/favicon.ico' %}">
    <meta charset="UTF-8">
    <!--Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Fraguismo - Religião Libertária Brasileira">
    <meta name="twitter:description" content="Textos, cursos e mídia sobre a filosofia libertária do Fraguismo.">
    <meta name="twitter:image" content="{% static '/images/favicon.ico' %}">
    <!---->
    <meta name="keywords" content="Fraguismo, religião libertária, liberdade, propriedade, resistência pacífica, filosofia libertária, doutrina, textos libertários, cursos, podcasts">
    <link rel="stylesheet" href="{% static '/css/components.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    {% load django_bootstrap5 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <header id="site-header" class="site-header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static '/images/logofraguinha.png' %}" alt="Fraguismo" width="75%" height="70" style="margin: 0 20px 0 20px;">
                </a>  
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler1">                                                              
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                        
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'index' %}">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="https://fraguismo.org/anarcopolis/">Anarcópolis</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="{% url 'index' %}">Fraguismo</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'sobre_nos'%}">Sobre Nós</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'contato' %}">Contato</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'administrativo'%}">Administrativo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'agenda' %}">Agenda</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item">Religião</a>                
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://fraguismo.org/religiao-educacional/">Educacional</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://fraguismo.org/galeria-de-fotos/">Galeria De Fotos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://fraguismo.org/faq/">FAQ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="https://fraguismo.org/blog/">Artigos</a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="https://fraguismo.org/stores/">Lojas</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Negocie em Bitcoin</a>
                        </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_page' %}">Minha Área</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'adm' %}">Administrativo</a>
                        </li>
                    {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% comment %} <li class="nav-item" style="font-size: 18px;">
                            <a class="nav-link active" title="Chat" href="https://fraguismo.org/minha-conta/chat/">
                                <i class="bi bi-chat"  aria-hidden="true"></i>
                            </a>
                        </li>                         {% endcomment %}
                            <li class="nav-item" style="font-size: 18px;">
                            {% if user.is_authenticated %}
                                <a class="nav-link active" data-toggle="tooltip" title="Logout" href="{% url 'logout' %}">
                                    <i class="bi bi-box-arrow-right" style="font-size: xx-large;"></i>
                                </a>
                            {% else %}
                                <a class="nav-link active" data-toggle="tooltip" title="Login/Registrar" href="{% url 'login' %}">
                                    <i class="bi bi-person" style="font-size: xx-large;"  aria-hidden="true"></i>
                                </a>                    
                        {% endif %}
                            </li>
                        <li>
                            <a class="btn btn-warning align-self-center btn-publish" style="border-radius: 20px; margin-top: 15px;" aria-current="page" href="{% url 'cadastrar_anuncio' %}">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Publique aqui
                            </a>
                        </li>                                                
                    </ul>                        
                
                </div>
            </div>
        </nav>
    </header>
    
        <div class="{% if request.resolver_match.url_name == 'index' %}container-fluid container-geral{% else %}container pb-5 ct-geral mb-2{% endif %}">
            {% if messages %}
                {% for message in messages %}                
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

        {% block content %} 
        {% endblock content %}
        </div>

    <footer >
        <div class="footer-top-area" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div id="classima_about-2" class="widget widget_classima_about">
                            <div class="d-flex align-items-center" style="padding-bottom: 20px;">
                                <img src="{% static '/images/logofraguinha.png' %}" width="40%" height="95" alt="Fraguismo" class="img-fluid">
                            </div>
                            <p class="rtin-des">Fraguismo é uma religião pautada nos princípios do jusnaturalismo e do PNA</p>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group">
                                    <a href="https://twitter.com/fraguismo" target="_blank" style="padding: 10px; padding-left: 0px;">
                                        <i class="bi bi-twitter-x" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                                <li class="list-group">
                                    <a href="https://www.instagram.com/fraguismo/" target="_blank" style="padding: 10px;">
                                        <i class="bi bi-instagram" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                                <li class="list-group">
                                    <a href="https://www.youtube.com/@fraguismo" target="_blank" style="padding: 10px;">
                                        <i class="bi bi-youtube" style="font-size: 24px;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div id="nav_menu-3" class="widget widget_nav_menu">
                            <p class="h3 text-light">Links úteis</p>
                            <div class="menu-selling-container">
                                <ul id="menu-selling" class="list-group">
                                    <li id="menu-item-20" class="list-group">
                                        <a href="#" style="text-decoration: none;">Dicas de venda</a>
                                    </li>
                                    <li id="menu-item-21" class="list-group">
                                        <a href="#" style="text-decoration: none;">Compre e venda rapidamente</a>
                                    </li>
                                    <li id="menu-item-22" class="list-group">
                                        <a href="#" style="text-decoration: none;">Membership</a>
                                    </li>
                                    <li id="menu-item-23" class="list-group">
                                        <a href="#" style="text-decoration: none;">Banner publicitário</a>
                                    </li>
                                    <li id="menu-item-24" class="list-group">
                                        <a href="#" style="text-decoration: none;">Promova seu anúncio</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div id="nav_menu-5" class="widget widget_nav_menu">
                            <p class="h3 text-light">Informações e Artigos</p>
                            <div class="menu-information-container">
                                <ul id="menu-information" class="list-group">
                                    <li id="menu-item-1232" class="list-group">
                                        <a href="#" style="text-decoration: none;">Empresa e informações de contato</a>
                                    </li>
                                    <li id="menu-item-1233" class="list-group">
                                        <a href="#" style="text-decoration: none;">Blog e artigos</a>
                                    </li>
                                    <li id="menu-item-1234" class="list-group">
                                        <a href="#" style="text-decoration: none;">Mapa do site</a>
                                    </li>
                                    <li id="menu-item-1231" class="list-group">
                                        <a href="{% url 'termos_condicoes' %}" style="text-decoration: none;">Termos e Condições</a>
                                    </li>
                                    <li id="menu-item-1230" class="list-group">
                                        <a href="{% url 'codigo_conduta' %}" style="text-decoration: none;">Código de Conduta</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div id="nav_menu-4" class="widget widget_nav_menu">
                            <p class="h3 text-light">Suporte &#038;+</p>
                            <div class="menu-support-container">
                                <ul id="menu-support" class="list-group">
                                    <li id="menu-item-25" class="list-group">
                                        <a href="#" style="text-decoration: none;">Chat ao Vivo</a>
                                    </li>
                                    <li id="menu-item-26" class="list-group">
                                        <a href="#" style="text-decoration: none;">FAQ</a>
                                    </li>
                                    <li id="menu-item-27" class="list-group">
                                        <a href="#" style="text-decoration: none;">Como se manter seguro</a>
                                    </li>
                                    <li id="menu-item-746" class="list-group">
                                        <a href="#" style="text-decoration: none;">Termos e Condições</a>
                                    </li>
                                    <li id="menu-item-28" class="list-group">
                                        <a href="#" style="text-decoration: none;">Contate-nos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-8 col-sm-12 col-12">
                        &copy;Copyright Fraguismo 2024. Desenvolvido por <a target="_blank" href="https://www.linkedin.com/company/86835534/admin/feed/posts/?feedType=following" style="font-family: Verdana; text-decoration: none; color: #0F9F5F">LINKMETRIK</a>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group">
                                <a href="https://bitcoin.org/" class="btc-cta">
                                    BTC
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% block javascript %}

    <script src="https://kit.fontawesome.com/32cd59ffee.js" crossorigin="anonymous"></script>
    {% endblock javascript %}
</body>
</html>
