{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static '/css/triadefraguista.css' %}"/>
<link rel="stylesheet" href="{% static '/css/components.css' %}"/>

<section class="apresentation apresentation-hierarquia">
    <div class="container head-title">
        <h1>
            Hierarquia 
        </h1>
        <h4>
            No Fraguismo, a hierarquia é estruturada em seis níveis, 
            e a ascensão dentro da instituição é baseada exclusivamente no conhecimento teórico e na participação ativa na comunidade, 
            sem qualquer intervenção política ou favorecimento. A única forma de avançar na hierarquia é por mérito, assegurando que os mais 
            comprometidos com os princípios da nossa fé ocupem as posições de liderança.
        </h4>
    </div>
    <div class="custom-shape-divider-top-1744652616">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
</section>

<section class="niveis pb-5 mt-5 mb-5 hidden-on-scroll">
    <div class="container d-flex align-items-center justify-content-center flex-column position-relative">
        <div class="bg-img">
            <img src="{% static '/images/bandeiraancap.webp' %}" alt="balança" width="600" height="300" class="img-fluid img-side"/>
        </div>
        <div class="bg-img-2">
            <img src="{% static '/images/bandeiraancap.webp' %}" alt="balança" width="600" height="300" class="img-fluid img-side"/>
        </div>
        <h1>Níveis</h1>
        <div class="blackline" style="width: 70%; background-color: black; height: 3px; border-radius: 100%; margin-top: 2%; margin-bottom: 2%;"></div>
        <div class="content-law">
            <p>
                1. Aprendiz
                2. Escudeiro
                3. Cavaleiro
                4. Conselheiro
                5. Guardião
                6. VPL
            </p>
            <p>
                A partir do nível de Guardião, os membros têm direito de influenciar as decisões estratégicas do Fraguismo, 
                participando das votações e do direcionamento dos nosso projetos. Para alcançar esse nível, 
                o membro deve demonstrar domínio dos princípios éticos e teóricos do Fraguismo e ter participado em atividades da comunidade e 
                se dedicado ao avanço dos nossos princípios.<br/><br/>
                A cada novo nível o participante tem acesso a mais privilégios dentro do Fraguismo que vão de networking a ajuda maior da instituição.
                A descentralização da hierarquia evita que o Fraguismo se torne um projeto pessoal de poder, 
                onde uma figura de autoridade detenha poder absoluto. Isso assegura que o movimento permaneça 
                iel aos valores originais de respeito à <strong>vida, propriedade e liberdade</strong>, e que a liderança seja 
                realmente representativa dos membros mais comprometidos com o projeto e que tenham profundo conhecimento e respeito por esses valores.
             </p>
        </div>
    </div>
</section>

<section class="body-text mt-5">
    <div class="container">
        <div class="row d-flex text-center">
            <div class="col-12 col-md-6 column-rights">
                <h4 class="hidden-on-scroll">Fazendo parte do fraguismo:</h4>
                <p class="hidden-on-scroll">
                    Ao acessar sua conta, você poderá visualizar seu nível atual e descobrir o que está disponível no próximo nível da hierarquia.
                    As informações no Fraguismo são compartimentalizadas com o propósito de proteger nossos membros e o projeto contra possíveis ataques externos. 
                    Por isso, para conhecer os benefícios de cada nível, é necessário avançar gradualmente dentro da estrutura.
                </p>
                <p class="hidden-on-scroll">
                    O primeiro passo é preencher o formulário de inscrição no nosso site. A partir desse momento, você já será considerado um 
                    Fraguista e receberá orientações para iniciar o Curso de Formação. Após estudar os livros e o material complementar do seu módulo, 
                    você poderá agendar sua prova. Essa avaliação tem como objetivo verificar se você compreendeu os conceitos essenciais de cada conteúdo. 
                    Nosso foco não é testar a sua memória, mas sim sua capacidade de pensar de forma autônoma e crítica.
                </p>
                <p class="hidden-on-scroll">
                    No primeiro nível (Aprendiz), a participação não é obrigatória, já que muitas vezes o Aprendiz ainda não tem acesso às reuniões internas. 
                    A partir do segundo nível (Escudeiro), no entanto, espera-se uma participação ativa na comunidade: frequentar reuniões, 
                    participar de eventos presenciais e zelar pelos princípios que nos orientam.
                </p>
            </div>
            <div class="col-12 col-lg-6 hidden-on-scroll">
                <h4 class="hidden-on-scroll">Sobre sua conta e seus níveis:</h4>
                <p class="hidden-on-scroll">
                    Para saber o que é necessário para subir de nível, acesse o painel em nosso site após fazer o login. 
                    Lá, você poderá acompanhar sua pontuação, os livros e materiais recomendados para seu nível atual.<br/>

                    Dentro da plataforma, é possível interagir com outros membros da comunidade. Seu nível ficará visível aos demais, 
                    servindo como um indicativo do seu grau de compreensão e comprometimento com os princípios do Fraguismo.<br/><br/>
                    Como o site permite a oferta de produtos e serviços que aceitem bitcoin, esse sistema de verificação também funciona 
                    como um mecanismo de proteção e reputação. Quanto mais tempo e credibilidade um membro conquista, menores são os incentivos 
                    para desrespeitar a propriedade alheia.
                </p>
                <p class="hidden-on-scroll">
                    Também será possível consultar o histórico de interações de cada usuário, inclusive eventuais conflitos com outros Fraguistas. 
                    Trata-se de um sistema de reputação semelhante ao de plataformas como Mercado Livre ou Amazon, mas com foco na privacidade e na 
                    resolução voluntária de conflitos, sem recorrer ao monopólio da força estatal — em plena concordância com nossos princípios.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="topicos mt-5 hidden-on-scroll">
    <div class="mt-5">
        <div class="row mx-0 pt-0 pb-0 content">
            <div class="col-sm-6">
                <div class="column-topics">
                    <h3>Expulsão:</h3>
                    <h5>
                        É fundamental destacar que qualquer pessoa pode ser expulsa do Fraguismo a qualquer momento, 
                        caso seja comprovada a violação da propriedade alheia. Isso inclui:
                    </h5>
                    <ul>
                        <li>Agressão à vida, à propriedade ou à liberdade de qualquer indivíduo, Fraguista ou não.</li>
                        <li>Fraude ou Falsificação: prometer algo e não cumprir, o que configura quebra de contrato e má-fé.</li>
                        <li>Violação de contratos, mesmo que não formais — incluindo acordos verbais ou informais. 
                            Nesse caso, será necessária uma apuração mais detalhada. O descumprimento desses compromissos pode resultar em punições e até na expulsão, 
                            caso o infrator se recuse a reparar a vítima.</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="column-topics" style="font-size: clamp(0.80rem, 1.1vw, 1.2rem) !important;">
                    <h3>Formas de punimento:</h3>
                        A <strong>CAL (Câmara Arbitral Libertária)</strong> 
                        será acionada sempre que houver uma denúncia de violação de propriedade por parte de um Fraguista.
                        A CAL compromete-se a seguir os princípios jusnaturalistas na mediação de conflitos. O objetivo principal não é punir, 
                        mas garantir a restituição da vítima. Se essa reparação não ocorrer, o Fraguismo adotará medidas punitivas, 
                        com o principal intuito de proteger a comunidade, informando o maior número de pessoas sobre o mau comportamento do ex-membro.<br/><br/> 

                        No início isso pode parecer pouco efetivo, porém com o tempo e a evolução do Fraguismo, 
                        essas pessoas que escolheram desrespeitar à propriedade alheia, serão lembradas e excluídas das interações voluntárias da 
                        comunidade o que acarretará em perdas significativas comerciais e sociais.
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
            setTimeout(() => {
                entry.target.classList.add('visible');
            }, 200); 
            }
        });
        });
    
    document.querySelectorAll('.hidden-on-scroll').forEach(el => observer.observe(el));
    
</script>

{% endblock content %}