{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="stylesheet" href="{% static '/css/nossoobjetivo.css' %}"/>

<section class="hero-section">
    <div class="container head-title">
        <h1>
            Road Map Fraguismo
        </h1>
        <h4>
            Confira o que já fizemos...O que estamos fazendo...E o que vamos fazer!
        </h4>
    </div>
    <div class="custom-shape-divider-top-1744652616">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
</section>

<section class="roadmap">
    <div class="container">
        <h1>
            🗺️ Road Map Fraguismo:
        </h1>
        <p>
            <span><strong>✅ Concluídos<br></strong></span>
            • Instagram Criado — Jul/21 ✅<br>
            • Projetos Sociais de Ajuda — Mar/21 ✅<br>
            • Reformulação e Início de Recrutamento — Set/22 ✅<br>
            • Criação do Token de Governança — Out/22 ✅<br>
            • Arrecadação Cervejaria — Nov/22 ✅<br>
            • Primeira Empresa Fraguista Ajudada — Jan/23 ✅<br>
            • Registro da Religião — Abr/23 ✅<br>
            • Conclusão dos Processos Religiosos — Mai/23 ✅<br>
            • Conclusão do Marketplacer Bitcoin — Mai/23 ✅<br>
            • Anarcópolis (1ª edição) — Nov/23 ✅<br>
            • Englobar Equipe do Expresso Libertário — Dez/23 ✅<br>
            • Teste Beta Educacional Fraguista — Dez/23 ✅<br>
            • Montagem dos Squads — Jan/24 ✅<br>
            • Educacional/Certificadora Fraguista — Jan/24 ✅<br>
            • Abertura do CNPJ — Abr/24 ✅<br>
            • Cashback Abençoado em Bitcoin — Ago/24 ✅<br>
            • Gamificação do Site (Pontos, Níveis, Conquistas) — Out/24 ✅<br>
            • Anarcópolis (2ª edição) — Nov/24 ✅<br>
            • CAL - Câmara Arbitral Libertária — Nov/24 ✅<br>
            • Criação dos Contratos Inteligentes — Mai/25 ✅<br>
            • Produtos Cripto da CAL (Sucessão Patrimonial Cripto, Garantidor de Transação Cripto, Gestão Patrimonial Cripto) — Jun/25 ✅<br>
            • Academia Fraguista (Formações com Certificados) — Jul/25 ✅<br>
        </p>
        <p>
            <span><strong>🚧 Em Implementação<br></strong></span>
            • 
        </p>
    </div>
</section>
{% endblock content %}