{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm border-0 rounded-3">
                    <div class="card-body">
                        <h2 class="text-center">Comprar Token</h2>                        
                        <div class="border p-3 mb-3">
                            <h3>Comprar Tokens</h3>
                            <div class="input-group mb-3">
                                <input type="text" id="buyProposeHash" placeholder="Hash da Proposta" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="buyTo" placeholder="Endereço para receber Tokens" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" id="bnbValue" placeholder="Valor em BRL" class="form-control">
                            </div>
                            <button type="button" class="btn btn-primary" id="buyTokens">Comprar Tokens</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script  type="module" src="{% static 'js/mercado_secundario/comprarTokens.js' %}"></script>
</div>
{% include "partials/wallet_connection.html" %}
<script type="module" src="{% static 'js/web3/initialize.js' %}"></script>
{% endblock %}