{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0 rounded-3">                    
                <div class="card-body">
                    <h2 class="text-center">Função do Árbitro</h2>
                    <div class="border p-3 mb-3">
                        <input type="text" id="ordemConfirma" class="form-control mb-3" placeholder="ID da Ordem (Confirma)" value="{{ ordem_id|default_if_none:'' }}">
                        <button type="button" class="btn btn-primary" id="confirmaPagamento">Confirmar Pagamento</button>
                    </div>
                    <div class="border p-3 mb-3">
                        <input type="text" class="form-control mb-3" id="ordemReverte" placeholder="ID da ordem (Reverte)" value="{{ ordem_id|default_if_none:'' }}">
                        <button type="button" class="btn btn-danger" id="reverterTransacao">Reverter Transação</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/wallet_connection.html" %}
<script type="module" src="{% static 'js/mercado_secundario/funcaoArbitro.js' %}"></script>
<script type="module" src="{% static 'js/web3/initialize.js' %}"></script>

{% endblock%}
