{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0 rounded-3">                    
                <div class="card-body">
                    <div class="border p-3 mb-3">
                        <h3 class="text-center">Função Vendedor</h3>
                        <div class="border p-3 mb-3">
                            <h4 class="text-center">Criar Ordem de Venda</h4>
                            <div class="input-group mb-3">
                                <input type="number" id="quantidade" placeholder="Quantidade de Tokens a vender" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="valorBRL" placeholder="Valor em BRL" class="form-control" data-type="currency">
                            </div>
                            <p id="taxaGarantia"></p>
                            <button type="button" class="btn btn-primary" id="criarOrdem">Criar Ordem</button>
                        </div>
                        
                        <div class="border p-3 mb-3">
                            <h4 class="text-center">Confirmar Recebimento</h4>
                            <div class="input-group mb-3">
                                <input id="ordemRecebida" type="text" placeholder="Ordem Recebida" class="form-control">
                            </div>
                            <button id="marcarCompleta" class="btn btn-primary">Confirmar recebimento</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/wallet_connection.html" %}
<script type="module" src="{% static 'js/mercado_secundario/funcaoVendedor.js' %}"></script>
<script type="module" src="{% static 'js/web3/initialize.js' %}"></script>
{% endblock %}
