{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0 rounded-3">                    
                <div class="card-body">
                    <div class="border p-3 mb-3">
                        <h3 class="text-center">Função Vendedor</h3>
                        <div class="border p-3 mb-3">
                            <div class="input-group mb-3">
                                <input type="number" id="quantidade" placeholder="Quantidade de Tokens a vender" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="valorBRL" placeholder="Valor em BRL" class="form-control">
                            </div>        
                            <button type="button" class="btn btn-primary" onclick="criarOrdem()">Criar Ordem</button>
                        </div>
                        
                        <div class="border p-3 mb-3">
                            <div class="input-group mb-3">
                                <input id="ordemRecebida" type="text" placeholder="Ordem Recebida" class="form-control">
                            </div>
                            <button onclick="marcarOrdem()" class="btn btn-primary">Marcar Ordem</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/wallet_connection.html" %}
<script src="{% static 'js/mercado_secundario/mercadoSecundario.js' %}"></script>
<script src="{% static 'js/web3/muriloethereum.js' %}"></script>
<script src="{% static 'js/web3/web3.js' %}"></script>
<script src="{% static 'js/web3/connect.js' %}"></script>
<script src="{% static 'js/web3/979.connect.js' %}"></script>
<script src="{% static 'js/web3/416.connect.js' %}"></script>
<script src="{% static 'js/web3/120.connect.js' %}"></script>
<script src="{% static 'js/web3/initialize.js' %}"></script>
<script src="{% static 'js/web3/main.js' %}"></script>
{% endblock %}
