{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body">
                    <h2 class="text-center">Disputa de Tokens</h2>
                        <div class="border p-3 mb-3">
                            <div class="row p-3">
                                <input type="text" id="ordemRecebidaComprador" placeholder="ID da Ordem Recebida" class="form-control mb-3" value={{ ordem_id|default_if_none:'' }}>
                            </div>
                            <button type="button" class="btn btn-primary" id="abrirDisputaComprador">Abrir Disputa (Comprador)</button>
                        </div>
                        <div class="border p-3 mb-3">
                            <div class="row p-3">
                                <input type="text" id="ordemRecebidaVendedor" class="form-control mb-3" placeholder="ID Ordem Recebida (Vendedor)" value={{ ordem_id|default_if_none:'' }}>
                            </div>
                            <button type="button" class="btn btn-secondary" id="abrirDisputa">Abrir Disputa (Vendedor)</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/wallet_connection.html" %}
<script type="module" src="{% static 'js/mercado_secundario/funcaoDisputa.js' %}"></script>
<script src="{% static 'js/web3/muriloethereum.js' %}"></script>
<script src="{% static 'js/web3/web3.js' %}"></script>
<script src="{% static 'js/web3/connect.js' %}"></script>
<script src="{% static 'js/web3/979.connect.js' %}"></script>
<script src="{% static 'js/web3/416.connect.js' %}"></script>
<script src="{% static 'js/web3/120.connect.js' %}"></script>
<script src="{% static 'js/web3/initialize.js' %}"></script>
{% endblock %}