{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
<div class="shadow p-4 mb-5 bg-body rounded">
    {% if user.is_authenticated %}
        {% if member.is_fraguista %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'listar_anuncios' %}">Meus Anúncios</a>
                            </li>
                            <li class="nav-item active">
                                <a href="{% url 'listar_lojas'%}" class="nav-link">Minhas lojas</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}
    {% endif %}
    <div class="row text-center">
        <h1>Marketplace Fraguismo</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <!-- Sidebar com filtro de departamentos e localidades -->
            <div class="col-md-3">
                <div class="list-group">
                    <h5>Departamentos</h5>
                    <a href="{% url 'home' %}" class="list-group-item {% if not selected_department %}active{% endif %}">
                        Todos os departamentos
                    </a>
                    {% for id, name in DEPARTAMENTOS %}
                    <a href="?departamento={{ id }}" class="list-group-item {% if selected_department == id|stringformat:'d' %}active{% endif %}">
                        {{ name }}
                    </a>
                    {% endfor %}
                </div>
                <br>
                <div class="list-group">
                    <h5>Localidades</h5>
                    <a href="{% url 'home' %}" class="list-group-item {% if not selected_localidade %}active{% endif %}">
                        Todas as localidades
                    </a>
                    {% for local in localidades %}
                    <a href="?localidade={{ local }}" class="list-group-item {% if selected_localidade == local %}active{% endif %}">
                        {{ local }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!-- Conteúdo principal -->
            <div class="col-md-9">
                <div class="row text-center">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                        <input type="text" class="form-control" placeholder="Produto ou serviço" aria-label="produto-servico" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row" id="content">
                    <div class="row text-start" style="padding-bottom: 20px;">
                        <div class="col">
                            <span>pag {{ anuncios.number }} de {{ anuncios.paginator.num_pages }}</span>
                        </div>
                        <div class="col-8 col-sm-4 text-end">
                            <label class="form-label" for="ordernar">Ordernar por: </label>
                            <select id="ordernar" name="ordernar" onchange="applyOrder()">
                                <option value="data_asc" {% if selected_order == 'data_asc' %}selected{% endif %}>Mais novos</option>
                                <option value="data_desc" {% if selected_order == 'data_desc' %}selected{% endif %}>Mais antigos</option>
                                <option value="preco_asc" {% if selected_order == 'preco_asc' %}selected{% endif %}>Menor preço</option>
                                <option value="preco_desc" {% if selected_order == 'preco_desc' %}selected{% endif %}>Maior preço</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        {% for anuncio in anuncios %}
                        <div class="col-md-4">
                            <a href="{% url 'page_anuncio' cod_anuncio=anuncio.cod_anuncio %}">
                            <div class="card" style="width: 18rem; margin-bottom: 20px;">
                                <div class="image-container">
                                    <img
                                    {% if anuncio.imagens.first is not None %}
                                        src="{{ anuncio.imagens.first.image.url }}"
                                    {% else %}
                                        src="{% static 'images/default-fraguinha.png'%}"
                                    {% endif %}
                                            class="zoom-image" alt="" width="300" height="125">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ anuncio.titulo }}</h5>
                                    <p class="departamento-display">{{ anuncio.get_departamento_display }}</p>
                                    <p class="localidade-display">
                                        <i class="bi bi-geo-alt-fill"></i> {{ anuncio.localidade }}
                                    </p>
                                    <p class="preco-card">R${{ anuncio.preco|intcomma }}</p>
                                    <p>{{ anuncio.descricao|slice:"0:20" }}...</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        {% empty %}
                        <p>Nenhum anúncio encontrado nesta categoria/localidade.</p>
                        {% endfor %}
                    </div>
                    <!-- Paginação -->
                    <div class="row text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if anuncios.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ anuncios.previous_page_number }}&ordernar={{ selected_order }}&departamento={{ selected_department }}&localidade={{ selected_localidade }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for num in anuncios.paginator.page_range %}
                                <li class="page-item {% if anuncios.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}&ordernar={{ selected_order }}&departamento={{ selected_department }}&localidade={{ selected_localidade }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                                {% if anuncios.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ anuncios.next_page_number }}&ordernar={{ selected_order }}&departamento={{ selected_department }}&localidade={{ selected_localidade }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function applyOrder() {
        const ordenar = document.getElementById('ordernar').value;
        const params = new URLSearchParams(window.location.search);
        params.set('ordernar', ordenar);  // Define o novo critério de ordenação
        window.location.search = params.toString();  // Atualiza a URL
    }
</script>
{% endblock content %}
