{% extends "base.html" %}

{% block content %}

<div class="shadow p-4 mb-5 bg-body rounded d-flex justify-content-center">
  <div>
    <h2 class="text-center">Redefinir Senha</h2>
    <div class="row justify-content-center">
      <form method="post">
        {% csrf_token %}
        <div class="col-sm-12 mb-4">
          <div class="row">
            <label for="new_password1" class="form-label">Nova senha:</label>
            <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1">
          </div>
          <div class="row">
            <label for="new_password2" class="form-label">Digite Novamente</label>
            <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
          </div>
        </div>
        </div>
        <button type="submit" class="btn btn-warning" style="border-radius: 20px;">Redefinir Senha</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
