{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="shadow p-4 mb-5 bg-body rounded d-flex justify-content-center">
  <div>
    <h2 class="text-center">Redefinir Senha</h2>
    <div class="row justify-content-center">
      <form method="post" id="password-reset-form">
        {% csrf_token %}
        <div class="col-sm-12 mb-4">
          <div class="row">
            <label for="new_password1" class="form-label">Nova senha:</label>
            <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required
              id="id_new_password1">
          </div>
          <div>
            <p id="pass-length">A senha deve ter pelo menos 8 caracteres.</p>
            <p id="pass-numeric">A senha não pode ser inteiramente numérica.</p>
            <p id="pass-alphnumeric">A senha deve conter letras e números.</p>
            <p id="pass-equal">As senhas não correspondem.</p>
          </div>
          <div class="row">
            <label for="new_password2" class="form-label">Digite Novamente</label>
            <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required=""
              id="id_new_password2">
          </div>
        </div>
        <button type="submit" class="btn btn-warning" style="border-radius: 20px;">Redefinir Senha</button>
      </form>
    </div>
  </div>
</div>

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('password-reset-form');
    const password1 = document.getElementById('id_new_password1');
    const password2 = document.getElementById('id_new_password2');
    const passLength = document.getElementById('pass-length');
    const passNumeric = document.getElementById('pass-numeric');
    const passAlphnumeric = document.getElementById('pass-alphnumeric');
    const passEqual = document.getElementById('pass-equal');
    
    function validaPassword() {
      let isLengthValid = password1.value.length >= 8;
      passLength.style.color = isLengthValid ? 'green' : 'red';
      
      let isNotNumericOnly = !/^\d+$/.test(password1.value);
      passNumeric.style.color = isNotNumericOnly ? 'green' : 'red';
      
      let isAlphanumeric = /[A-Za-z]/.test(password1.value) && /\d/.test(password1.value);
      passAlphnumeric.style.color = isAlphanumeric ? 'green' : 'red';
      
      let arePasswordsEqual = password1.value !== '' && password1.value === password2.value;
      passEqual.style.color = arePasswordsEqual ? 'green' : 'red';
      
      return isLengthValid && isNotNumericOnly && isAlphanumeric && arePasswordsEqual;
    }

    password1.addEventListener('keyup', validaPassword);
    password2.addEventListener('keyup', validaPassword);

    form.addEventListener('submit', function (event) {
      // Chama a validação uma última vez antes de submeter
      const isFormValid = validaPassword();

      if (!isFormValid) {
        // Impede o envio do formulário se a validação falhar
        event.preventDefault();
        alert('Por favor, corrija os erros na senha antes de continuar.');
      }
    });
  }); 
</script>
{% endblock %}
{% endblock %}