{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
    <div class="container-lg text-center">
        <h2>Seja bem vindo, {{profile.user}}!</h2>
        <div class="row">
            <div class="col">
                <i class="bi bi-trophy" style="font-size: 24px; padding-left: 10px;"></i>
                <p>{{ profile.pontuacao }} pts </p>
            </div>
            <div class="col">
                <i class="bi bi-people" style="font-size: 24px; padding-left: 10px"></i>
                <p>{{ profile.squad.capitalize }}</p>
            </div>
            <div class="col">
                <i class="bi bi-bar-chart" style="font-size: 24px; padding-left: 10px"></i>
                <p>{{ profile.nivel.capitalize }}</p>
            </div>
            <div class="col dropdown align-self-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Comunidade
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Livros</a></li>
                <li><a class="dropdown-item" href="#">Dashboard</a></li>
                <li><a class="dropdown-item" href="#">Cadastrar um usuário</a></li>
                </ul>
            </div>
        </div>
    </div>
{% else %}
    <h2>
        Área restrita    
    </h2>
    <small class="text-body-secondary"> Efetue o <a href="{% url 'login' %}">login</a> para acessar esta página!</small>
{% endif %}
{% endblock content %}