{% extends 'base.html' %}

{% block content %}
<div class="container shadow p-4 mb-5 bg-body rounded">
    <div class="row text-center" style="padding-bottom: 20px;">
        <h1>Bem-vindo à Comunidade</h1>
        <p>Participe dos grupos Fraguistas do WhatsApp e Telegram.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row text-start">
                <h4>Encontre Fraguistas da sua região:</h4>
            </div>
            <ul style="list-style-type: none;">                
                <li>
                    <i class="bi bi-whatsapp" style="color: #25D366; font-size: 1.5em;"></i>
                    <a href="https://chat.whatsapp.com/CRmI7PCabFMERP3zwpE3Kr" target="_blank">Squads Fraguistas - Grupos WhatsApp</a>
                </li>
                
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/11292" target="_blank">Libertários São Paulo</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10749" target="_blank">Libertários Bahia</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10751" target="_blank">Libertários Amapá</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10801" target="_blank">Libertários Paraná</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10752" target="_blank">Libertários Alagoas</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10739" target="_blank">Libertários Minas Gerais</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10910" target="_blank">Libertários Santa Catarina</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10742" target="_blank">Libertários Maranhão</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10738" target="_blank">Libertários Pará</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10743" target="_blank">Libertários Goiás</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10748" target="_blank">Libertários Ceará</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10745" target="_blank">Libertários Espirito Santo</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10753" target="_blank">Libertários Acre</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10750" target="_blank">Libertários Amazonas</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10740" target="_blank">Libertários Mato Grosso do Sul</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10747" target="_blank">Libertários Brasília</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10741" target="_blank">Libertários Mato Grosso</a>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <div class="row text-start">
                <h4>Grupos Diversos:</h4>
            </div>
            <ul style="list-style-type: none;">
                <li>
                    <i class="bi bi-whatsapp" style="color: #25D366; font-size: 1.5em;"></i>
                    <a href="https://chat.whatsapp.com/BimnkgYeI03JlcXLEcxUBl" target="_blank">Comunidade Fraguismo - Grupos WhatsApp</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10769" target="_blank">Chat Geral</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/11991" target="_blank">Libertários AWOL</a>
                </li>
                <li>
                    <i class="bi bi-telegram" style="color: #0088cc; font-size: 1.5em;"></i>
                    <a href="https://t.me/fraguismo/10756" target="_blank">Privacidade, Segurança de dados E Programação</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
