{% extends 'base.html '%}
{% load static %}
{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <div class="row text-center">
        <h1>Configurações</h1>
    </div>
    <br>
    <div class="card mb-4">
        <div class="card-header">⚙️ Configurações de Visibilidade</div>
        <form method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleEmail" checked>
                    <label class="form-check-label" for="toggleEmail">E-mail</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleNome" checked>
                    <label class="form-check-label" for="toggleNome">Nome</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleTelefone" checked>
                    <label class="form-check-label" for="toggleTelefone">Telefone</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleLocalidade" checked>
                    <label class="form-check-label" for="toggleLocalidade">Localidade</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleInstagram" checked>
                    <label class="form-check-label" for="toggleInstagram">Instagram</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleAniversario" checked>
                    <label class="form-check-label" for="toggleAniversario">Aniversário</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleProfissao" checked>
                    <label class="form-check-label" for="toggleProfissao">Profissão</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleCarteiraPolygon" checked>
                    <label class="form-check-label" for="toggleCarteiraPolygon">Carteira Polygon</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleCarteiraLightining" checked>
                    <label class="form-check-label" for="toggleCarteiraLightining">Carteira Lightning</label>
                </div>
                <div class="card-footer text-end">
                    <input type="submit" class="btn btn-primary w-1" value="Salvar">
                </div>

            </div>
        </form>
    </div>
</div>

{% endblock content %}