{% extends 'base.html' %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<style>
    .image-upload>input{
        display: none;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: none;
        background-position: center;
        background-image: url("{{ profile.pic_profile.url }}");
        position: relative;
        z-index: 1;
    }

    .profile-pic:hover {
        opacity: 0.4;
    }

    {% with sticker="images/niveis_stickers/"|add:profile.nivel_id.nivel|add:".png" %}
    .frame {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-size: contain;
        background-repeat: none;
        border-color: black;
        position: relative;
        background-image: url("{% static sticker %}");
        top: -15px;
        left: -15px;
    }
    {% endwith %}
    
</style>
    
    <div class="shadow p-4 mb-5 bg-body rounded">
        <form method="POST" class="col-md-8 mx-auto" enctype="multipart/form-data">            
        <div class="container-lg text-center">
            {% csrf_token %}
            <div class="image-upload">
                <label for="pic_profile">
                    <div class="profile-pic  mx-auto" id="profile-pic">
                        <div class="frame">
                        </div>                
                    </div>
                </label>
                <input class="form-control" id="pic_profile" name="pic_profile" type="file" accept=".png, .jpeg, jpg">
            </div>
            
            <h2>Seja bem vindo, {{profile.user}}!</h2>
            <div class="row">
                <div class="col">
                    <a href="{% url 'user_log_rating' %}"><i class="bi bi-trophy" style="font-size: 24px; padding-left: 10px;"></i></a>
                    <p>{{ profile.pontuacao }} pts </p>
                </div>
                <div class="col">
                    <i class="bi bi-people" style="font-size: 24px; padding-left: 10px"></i>
                    <p>{{ profile.squad.capitalize }}</p>
                </div>
                <div class="col">
                    <a href="{% url 'user_pending' %}"><i class="bi bi-bar-chart" style="font-size: 24px; padding-left: 10px"></i></a>
                    <p>{{ profile.nivel.capitalize }}</p>
                </div>
                <div class="col align-self-center">                    
                    <button class="btn btn-primary" role="button" style="border-radius: 20px;" onclick="generateCustomLink()">
                        Link Afiliado
                    </button>                    
                    <input type="text" id="affiliateLink" value="{{ request.scheme }}://{{ request.get_host }}{% url 'register' %}?ref={{ user.username }}" style="position: absolute; left: -9999px;">                    
                    <p id="copyMessage" style="display: none; color: green;">Link copiado!</p>
                </div>   
            </div>        
        </div>                    
            <div class="row">
                <div class="col">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" disabled>
                </div>                
            </div>
            <div class="row">
                <div class="col">
                    <label for="first_name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="last_name" class="form-label">Sobrenome</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" value="{{ user.last_name }}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="city" class="form-label">Localidade</label>
                    <input type="text" id="city" name="city" class="form-control" value="{{ member.city }}">                
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="fone" class="form-label">Telefone</label>
                    <input type="text" id="fone" name="fone" class="form-control" value="{{ member.fone }}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="instagram" class="form-label">Instagram</label>
                    <input type="text" id="instagram" name="instagram" class="form-control" value="{{ member.instagram }}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="birth" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" id="birth" name="birth" value="{{ member.birth|date:'Y-m-d' }}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="job_title" class="form-label">Profissão</label>
                    <input type="text" class="form-control" id="job_title" name="job_title" value="{{ member.job_title }}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="bsc_wallet" class="form-label">BSC Wallet</label>
                    <input type="text" class="form-control" id="bsc_wallet" name="bsc_wallet" value="{{ member.bsc_wallet }}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="lightning_wallet" class="form-label">Bitcoin Lightning Wallet</label>
                    <input type="text" class="form-control" name="lightning_wallet" id="lightning_wallet" value="{{ member.lightning_wallet }}">
                </div>
            </div>
            <div class="row text-end" style="padding-top: 20px;">
                <div class="col">
                    <input type="submit" class="btn btn-warning" style="border-radius: 20px;" value="Salvar">                
                </div>
            </div>
        </form>
    </div>    
{% else %}
    <h2>
        Área restrita    
    </h2>
    <small class="text-body-secondary"> Efetue o <a href="{% url 'login' %}">login</a> para acessar esta página!</small>
{% endif %}

<script>
    document.getElementById('pic_profile').addEventListener('change', function(event) {
        var file = event.target.files[0];
        if(file) {
            var imageUrl = URL.createObjectURL(file);
            var div = document.getElementById('profile-pic');

            div.style.backgroundImage = `url(${imageUrl})`;
        }
    });

    function generateCustomLink() {
        var copyText = document.getElementById("affiliateLink");

        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");

        var message = document.getElementById("copyMessage");
        message.style.display = "block";

        setTimeout(function() {
            message.style.display = "none";
        }, 3000);
    }
</script>

{% endblock content %}
