@import 'mixins';
@import 'variables';

* {
    box-sizing: border-box;
}

@include container-master(0, 0);

html, body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, #889ddc, #090023, #090023, #42587e);
}

.hero-section {
  min-height: 90dvh;
  width: 100%;
  @include flexbox(center, center, auto);
}

.wrapper-img-bg {
  position: relative;
  @include element-size(100dvh, 100%);
  background-size: cover;
  overflow: hidden;

  img {
    @include element-size(100%, 100%);
    position: absolute;
    opacity: 0;
    object-fit: cover;
    filter: brightness(40%) !important;
    transition: opacity 1s;

    &.active {
      opacity: 1;
    }
  }
}

.hero-content {
  position: absolute;
}

.wrapper-hr-section {
  text-align: center !important;
  width: 40%;
  position: static;

  h5 {
    @include responsive-font(1.3rem, 1.2vw, 3rem);
    margin: 0 10% 6%;
    color: $black;
    padding: 2% 20px;
    border-radius: 12px;
    background: linear-gradient(to bottom, #e0822f, #5a0000);
  }

  h3 {
    @include responsive-font(2.6rem, 5vw, 7rem);
    margin-bottom: 2%;
    background-image: linear-gradient(135deg, rgb(0, 247, 255), rgb(255, 67, 67));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
    font-weight: 700;
  }

  h6 {
    @include responsive-font(2.7rem, 3vw, 4rem);
    margin-bottom: 6%;
    background-image: linear-gradient(135deg, rgb(204, 164, 45), rgb(91, 10, 10));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
  }

  p {
    color: $white;
    @include responsive-font(1rem, 2vw, 1.6rem);
    margin-bottom: 6%;
    @include text-shadow();

    i {
      color: #e0822f;
    }
  }
}

.hr-cta {
  color: $white;
  @include responsive-font(1.5rem, 1.8vw, 1.8rem);
  padding: 0 3%;
  @include text-shadow();
}

.wrapper-btn-hr {
  @include flexbox(center, center, auto);
  gap: 30px;

  a {
    color: $black;
    background: linear-gradient(135deg, #e0822f, #5a0000);
    padding: 2% 4%;
    border-radius: 12px;
    @include responsive-font(1rem, 1.2vw, 1.2rem);
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 25px #e0822f;
      cursor: pointer;
    }
  }
}

.ticket, .host, .timeline, .retrospective {
  min-height: 100dvh;
  max-height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticket {
  background: url('/static/images/sunset.webp') no-repeat center/cover;

  .container {
    h4, h6 {
      color: $white;
      @include text-shadow();
    }

    h4 {
      @include responsive-font(2rem, 2.5vw, 5rem);
      font-weight: 800;
    }

    h6 {
      @include responsive-font(1.2rem, 1.8vw, 3.6rem);
      font-weight: 300;
      text-align: center;
    }
  }
}

.wrapper-ticket {
  border: ridge 4px #e0822f;
  border-radius: 12px;
  padding: 5%;
  backdrop-filter: blur(50px);

  h2, i, .price-ticket {
    align-self: center;
  }

  p {
    padding-left: 5%;
    color: rgb(109, 20, 0);
    text-transform: uppercase;
    font-weight: 600;
    @include responsive-font(0.9rem, 2vw, 1.1rem);

    i {
      padding-right: 3%;
      color: rgb(0, 216, 0);
      @include text-shadow();
    }
  }
}

.wrapper-esgotado {
  @include element-size(fit-content, fit-content);
  position: absolute;
    img {
       max-width: 260px; /* limite */
        width: 100%;      /* ocupa o espaço disponível */
        height: auto;
    }
}

.price-ticket, #icon-ticket {
  color: $white !important;
  padding: 0 !important;
  @include responsive-font(1.4rem, 2vw, 1.8rem);
}

#icon-ticket {
  font-size: 2rem;
  margin-bottom: 4%;
}

.wrapper-notify, .wrapper-alert {
  border-radius: 12px;
  padding: 3%;
  @include blur(50px);
}

.wrapper-notify {
  @include bordas(#5a0000, solid, 12px, 3%);
  @include blur(50px);

  p {
    color: $black;
    @include responsive-font(1.2rem, 1.7vw, 1.4rem);

    span {
      color: #5a0000;
      font-weight: 600;
    }

    i {
      padding-right: 12px;
      color: #ffad64 !important;
      @include text-shadow();
    }
  }
}

.wrapper-alert {
  border: 2px solid #5a0000;
  background-color: #2a0000;
  margin-bottom: 3%;

  p {
    color: $white;
    @include responsive-font(1rem, 1.7vw, 1.4rem);

    span {
      color: rgb(218, 199, 59);
      font-weight: 600;
    }
  }
  i {
    padding-right: 12px;
    color: rgb(218, 199, 59) !important;
    @include text-shadow();
  }
}

.btn-info {
  @include btn-sunset(1%, 1.8%);
}

.ct-btn-buy { 
  .btn-buy {
   @include btn-sunset(2.6%, 3.2%);
  }
}


.ct-rooms {
  justify-content: center;
  width: fit-content;

  .col-sm {
    width: fit-content;
    border: dotted;
    border-color: #42587e;
    border-radius: 12px;
    background-color: #12122b8b;
    padding: 0;
    text-align: center;

    p {
      padding: 1% 6%;
      text-align: center;
      @include responsive-font(0.92rem, 1.7vw, 1.3rem);

      span {
        color: #ffad64;
        @include responsive-font(0.96rem, 1.7vw, 1.5rem);
      }
    }
  }
}

.ct-info-host {
  width: 100vw;
  @include flexbox(center, center, column);
  margin: 15% 0;

  p {
    @include responsive-font(1.1rem, 2vw, 1.5rem);
    color: $white;
    text-align: left;

    i {
      padding-right: 18px;
    }

    span {
      color: rgb(202, 179, 43);
      @include responsive-font(1.5rem, 1.8vw, 3rem);
      font-weight: 600;
    }
  }
}

.timeline .container,
.retrospective .container, .host .container {
  h4 {
    color: rgb(202, 179, 43);
    @include responsive-font(1.6rem, 2.5vw, 5rem);
    @include text-shadow();
    font-weight: 800;
  }

  h6, h6 a{
    color: $white;
    @include responsive-font(1rem, 1.8vw, 3.6rem);
    @include text-shadow();
    font-weight: 300;
  }
}

.ct-timeline {
  @include flexbox(center, center, column);
  gap: 1rem;
  .carousel-wrapper {
    margin: auto 2%;
  #carouselExampleControls, #carouselExampleControls2 {
    width: 100%;
    max-width: 890px;      
    margin-inline: auto;
    overflow: hidden;      
    position: relative;    

    contain: layout paint; 
    transform: translateZ(0); 

    .carousel-inner {
      height: fit-content;
      overflow: hidden;    
    }

    .carousel-item {
      flex: 0 0 100%;     
      max-width: 100%;

      img {
        display: block;
        width: 100% !important; 
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
    }
  }
}
}

.col-cards {
  max-height: 400px !important;
  margin: 10px 0;

  .card {
    transition: all 0.3s ease-in-out;
    border-width: 2px;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    &:hover {
      border: 2px solid #ffe62b;
      transform: scale(1.04);
      cursor: pointer;

      i {
        display: block;
        font-size: 3rem;
        color: #ffe62b;
      }
    }
  }
}

.ct-midia {
  h5 {
    color: $white;
    font-size: 2rem;
    @include text-shadow();
  }

  a {
   @include btn-sunset(2%, 2%);
  }
}

.ct-img {
  @include flexbox(center, center, auto);
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// MEDIAS 
@media (min-width: 300px) {
    .wrapper-hr-section {
        width: 100%;
    }
    .row-cards {
        overflow: hidden;
    }
    .card a img {
        height: 400px;
        object-fit: cover;
    }
    .ct-rooms {
        align-items: center;
        justify-content: center;
    }
    #container-cards {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .ct-btn-buy {
      @include flexbox(center, center, column);
    }
    .wrapper-esgotado {
      top: 79%; // se aumenta vai pra baixo
      bottom: 100%;
      right: 0;
      left: 59%;
    }
    .carousel-wrapper{
      width: 60%;
    }
}

@media (min-width: 360px) {
    .ct-info-host {
        min-height: 53vh;
        max-height: fit-content;
        margin: 2% 0;
    }
}

@media (min-width: 695px) {
    .ct-info-host {
        min-height: 40vh;
        max-height: fit-content;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .wrapper-esgotado {
      top: 70%; // se aumenta vai pra baixo
      bottom: 100%;
      right: 0;
      left: 70%;
    }
}

@media (min-width: 992px) {
    .ct-info-host {
        min-height: 53dvh;
        max-height: fit-content;
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .ct-rooms {
        justify-content: end;
        margin-right: 3%;
    }
    #container-cards {
        margin-top: 0;
        margin-bottom: 0;
    }
    .ct-timeline {
      flex-direction: row !important;
    }
    .ct-btn-buy {
      @include flexbox(center, center, row);
    }
    .wrapper-esgotado {
      top: 78%; // se aumenta vai pra baixo
      bottom: 100%;
      right: 0;
      left: 63%;
    }
    .carousel-wrapper{
      width: 40% !important;
    }
}

@media (min-width: 1024px) { 
    .wrapper-hr-section {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .wrapper-hr-section {
        width: 60%;
    }
    .wrapper-esgotado {
      top: 66%; // se aumenta vai pra baixo
      bottom: 100%;
      right: 0;
      left: 56%;
    }
    .carousel-wrapper{
      width: 36% !important;
    }
}

@media (max-width: 818px) {
    #row-midia {
        flex-direction: column !important;
        gap: 10px !important;
    }
}

@media (max-width: 448px) {
  .timeline {
    div {
      h4 {
        text-align: center;
      }
    }
  }
}

/*Asus Zenbook Fold*/
@media (width: 853px) and (height: 1280px){
    .ct-info-host {
        min-height: 15dvh;
        max-height: fit-content;
        flex-direction: row;
    }
}

/*IPad*/
@media (width: 768px) and (height: 1024px) {
    .ct-info-host {
        flex-direction: row;
        min-height: 10dvh;
        max-height: fit-content;
    }
    .host, .timeline {
        min-height: 50dvh;
    }
}
