@import 'mixins';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Charm:wght@400;700&family=Cookie&display=swap');

// Base
html, body {
  @include background-fixed-cover('/static/images/leinatural.webp', fixed);
}

@include container-master(0, 0);

button {
  background-color: #f0b90b !important;
  color: black !important;
  transition: 0.3s all ease-in-out !important;
  border: none !important;
  font-weight: 500;
  padding: 20px;
  @include responsive-font(0.50rem, 1.2dvw, 1.5rem);

  &:hover {
    background-color: #d89b08 !important;
    color: white !important;
    cursor: pointer !important;
  }
}

section {
  width: 100% !important;
}

.btn-cta {
  @include responsive-font(0.80rem, 1.2dvw, 1.5rem); // clamp
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
}

.charm-regular, .vpl {
  font-family: "Charm", cursive;
}

.vpl {
  font-size: 3rem !important;
}

// Shapes
.custom-shape-divider-top-1741034210 {
  @include custom-shape(relative); 
    svg { 
      @include shape-svg(60px);
    }
}

.custom-shape-divider-top-1741632460 { 
  @include custom-shape(absolute); 
    svg { 
      @include shape-svg(330px, 99); 
    }
    .shape-fill {
      fill: #000000;
    }
}

.custom-shape-divider-bottom-1741633164 { 
  @include custom-shape(absolute, 180deg, 0); 
    svg { 
      @include shape-svg(300px, 99999);
     }
     .shape-fill {
      fill: yellow
     }
}


// Hero section
.hero-section {
  @include flexbox(center, center);
  min-height: 80dvh;
  position: relative !important;
}

.img-hero-section {
  position: relative;
  @include element-size(100%, 100%); // Height, width

  img {
    @include element-size(100dvh, 100%);
    position: relative;
    object-fit: cover !important;
    filter: brightness(0.3) !important;
  }
}

.hero-content {
  position: absolute;
  padding: 5% 5%;
}

.hero-text {
  color: white;
  @include element-size(fit-content, fit-content);
  align-items: left;

  h1 {
    @include responsive-font(1.60rem, 2.3dvw, 4.2rem);
    @include text-shadow;
  }

  p {
    @include responsive-font(0.80em, 1.3dvw, 2rem);
    @include text-shadow;
    padding-right: 3%;
  }
}

.wrapper-hero-content {
  height: 100%;
  display: flex;
}

.video-fraga {
  width: 100%;
  display: flex;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);

  iframe {
    width: 100%;
    min-height: 100%;
    @include bordas(#252222, solid, 0, 2%);
  }
}

// Triade Fraguista
.triade-fraguista {
  @include element-size(fit-content, 100%);
  margin: 5% 0 !important;
}

.wrapper-bio-alt {
  background-color: rgba(66, 66, 66, 0.719);
  padding: 20px !important;
  border-radius: 10px;
  color: white;

  h2 {
    @include responsive-font(2.3rem, 3.3vw, 3.5rem);
    font-weight: 300 !important;
    @include text-shadow;
  }

  p {
    @include responsive-font(1rem, 1vw, 1.5rem);
    @include text-shadow;
  }
}

// Curso Fraga
.curso-fraga {
  height: 75dvh;
  min-width: 100%;
  position: relative;

  img {
    object-fit: cover;
    @include element-size(100%, 100%);
    filter: brightness(0.8);
  }
}

.content-curso {
  color: white;
  text-align: center;
  position: absolute;
  width: 46%;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);

  h4 {
    @include responsive-font(0.80rem, 1.8vw, 2.5rem);
    @include text-shadow;
  }

  p {
    @include responsive-font(0.80rem, 1.1vw, 1.8rem);
    margin-bottom: 2%;
    @include text-shadow;
  }
}

// Objetivo Section
.objetivo-section {
 @include flexbox(center, flex-end);
  min-height: 101dvh;
  background-color: rgb(46, 46, 46);
  color: white;
  position: relative;
  overflow: hidden;
}

.objetivo-imagem {
  @include background-fixed-cover('/static/images/ancapflag.webp');
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100% !important;
}

.objetivo-texto {
  width: 50%;
  padding: 5% 2%;
  z-index: 2;
  @include text-shadow;

  h2 {
    @include responsive-font(2.8rem, 3vw, 3rem);
    margin-bottom: 20px;
    color: #f0b90b;
    @include text-shadow;
  }

  p {
    @include responsive-font(1.1rem, 2vw, 1.5rem);
    line-height: 1.8;
    margin-bottom: 20px;
    @include text-shadow;
  }

  .call-action {
    font-weight: bold;
    color: #f0b90b;
    @include text-shadow;
  }
}

// Contador Fraguistas
.container-contador-fraga {
  @include flexbox(center, center);
  @include element-size(45dvh, 100%);
  padding: 50px 0;
  text-align: center;
  @include background-fixed-cover('/static/images/abstractpaper.svg', fixed);
  color: white;
  font-weight: 500;
  text-shadow: #f0b90b;
}

.counter-item {
  font-size: 6rem;
  will-change: contents;
  font-weight: bold;
  display: inline;
  padding: 0 10px;
  color: #000;
  border: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  text-shadow:
    1px 1px 2px #fff,
    0 0 1em #fff,
    0 0 0.2em #fff;
}

.text-contador {
  line-height: 80px;
}

// Call to Action
.container-CTA {
  @include element-size(65dvh, 100%);
  @include flexbox(center, space-between);
  @include background-fixed-cover('/static/images/meteor.svg');
  text-align: center;
  padding: 50px;
}

.wrapper-CTA {
  width: 50%;
  padding: 20px;

  h2, p, span {
    color: white;
    @include text-shadow;
  }

  h2 {
    @include responsive-font(1.5rem, 1.6vw, 2.5rem);
  }

  p {
    @include responsive-font(1rem, 1.2vw, 2rem);
    margin: 2% 0;
  }

  span {
    @include responsive-font(1rem, 1.3vw, 2rem);
  }
}

.img-CTA {
  width: 50%;
  @include flexbox(center, center);

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
}

// Cards container
.cards-container {
  min-width: 100%;
  min-height: 100vh;
  background-color: #bdbdbd44;
  position: relative;
  @include flexbox(center, center);
}

// Media Queries
@media (max-width: 1250px) {
  .wrapper-CTA {
    @include element-size(fit-content, 400px);

    p {
      margin: 15px 0;
    }
  }

  .img-CTA img {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .objetivo-section {
    flex-direction: column;
    text-align: center;
  }

  .objetivo-imagem {
    position: relative;
    width: 100%;
    height: 40vh !important;
  }

  .objetivo-texto {
    width: 100%;
    padding: 8% 6%;
  }

  #container-cards {
    flex: 0 0 100%;
    padding: 0 10px;
  }

  .wrapper-dao {
    margin: 25px 0;
  }

  .wrapper-hero-content {
    flex-direction: column;
    height: fit-content;
  }

  .custom-shape-divider-top-1741632460 svg,
  .custom-shape-divider-bottom-1741633164 svg {
    height: 10px;
  }
}

@media (max-width: 993px) {
  .hero-content {
    height: 75% !important;
  }

  .col .video-fraga {
    height: fit-content !important;
  }

  #hero-text {
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .container-CTA {
    flex-direction: column-reverse !important;
    height: auto;
    padding: 20px;
  }

  .wrapper-CTA {
    width: 100%;

    p {
      margin: 15px 0;
    }
  }
}

@media (max-width: 587px) {
  .content-curso {
    left: 50%;
    width: 90%;
  }
}

@media (max-width: 479px) {
  .img-CTA {
    width: 300px !important;
    height: 300px !important;
  }
}

@media (min-height: 400px) {
  .video-fraga {
    height: 200px;
  }

  .img-CTA {
    @include element-size(300px, 300px);
  }
}

@media (min-height: 580px) {
  .video-fraga {
    height: 250px;
  }

  .img-CTA {
    @include element-size(375px, 375px);
  }
}

@media (min-height: 768px) {
  .video-fraga {
    height: 400px;
  }

  .img-CTA {
    @include element-size(430px, 430px);
  }
}

@media (min-height: 900px) {
  .video-fraga {
    height: 500px;
  }

  .img-CTA {
    @include element-size(600px, 600px);
  }
}

@media (min-width: 1200px) and (max-height: 768px) {
  .video-fraga {
    height: 400px;
  }
}