@import 'mixins';
@import 'variables';

// Reset e base
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden !important;
  overflow-y: auto;
  background-color: $bg-main;
}

@include hidden-on-scroll;

// Shapes
.custom-shape-divider-top-1744652616 {
  @include custom-shape(absolute);
  svg {
    @include shape-svg(50px);
  }
  .shape-fill {
    fill: #FFFFFF;
  }
}

.hero-section {
    @include apresentation;
    @include background-fixed-cover('/site_fraguismo/static/images/forest.webp');
}

//corpo
.roadmap {
  @include flexbox(center, center);
  margin: 5% 0;
  box-shadow: 0 0 20px $box-shadow-dark !important;
  border-radius: 12px;
    .container {
      h1 {
        margin: 2% 0;
      }
      p {
        @include responsive-font(0.90rem, 1.1vw, 1.5rem);
        margin-left: 30px;
        line-height: 200%;
        span {
          @include responsive-font(1.2rem, 1.8vw, 2rem);
        }
      }
    }
}