$light-gray: lightgray;
$white: rgb(243, 243, 243);
$black: rgb(24, 23, 23);
$gray: #a5a5a5;
$footer-bg: #1a1a1a;
$link-hover: #ffbc00;
$footer-bottom: #111212;
$navbar-link: #333;
$cta-yellow: #f0b90b;

$box-shadow-dark: rgba(0, 0, 0, 0.596);
$text-shadow-default: 1px 1px 3px rgba(0, 0, 0, 0.5);
$text-shadow-strong: 2px 2px 4px rgba(0, 0, 0, 0.5);
$gold: rgb(185, 140, 3);