* {
    box-sizing: border-box;
}

.container-geral {
    padding: 0 !important;
    margin: 0 !important;
}

/**/

.hero-section {
    min-height: 90dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-img-bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper-img-bg img {
    width: 100%;
    height: 100dvh;
    position: relative;
    filter: brightness(30%) !important;
}

.hero-content {
    position: absolute;
}

.wrapper-hr-section {
    text-align: center !important;
    width: 40%;
}

.wrapper-hr-section h5 {
    font-size: clamp(1.3rem, 1.2vw, 3rem);
    margin: 0 10% 6% 10%;
    color: black;
    padding: 2% 20px;
    border-radius: 12px;
    background: linear-gradient(135deg, #e0822f, #5a0000);
}

.wrapper-hr-section h3 {
    font-size: clamp(2.6rem, 5vw, 7rem);
    margin: 0 0 2% 0;
    background-image: linear-gradient(135deg, rgb(45, 199, 204), rgb(209, 66, 66));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
    font-weight: 700;
}

.wrapper-hr-section h6 {
    font-size: clamp(2.7rem, 3vw, 4rem);
    margin: 0 0 6% 0;
    background-image: linear-gradient(135deg, rgb(204, 164, 45), rgb(91, 10, 10));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
}

.wrapper-hr-section p {
    color: white;
    font-size: clamp(1rem, 2vw, 1.6rem);
    margin: 0 0 6% 0;
}
    .wrapper-hr-section p i {
        color: #e0822f;
    }

.hr-cta {
    color: white;
    font-size: clamp(1.5rem, 1.8vw, 1.8rem);
    padding: 0 3%;
}

.wrapper-btn-hr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.wrapper-btn-hr a {
    color: black;
    background: linear-gradient(135deg, #e0822f, #5a0000);
    padding: 2% 4%;
    border-radius: 12px;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}

