@charset "UTF-8";
* {
  box-sizing: border-box;
}

.container-geral {
  padding: 0 !important;
  margin: 0 !important;
}

html, body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, #889ddc, #090023, #090023, #42587e);
}

.hero-section {
  min-height: 90dvh;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: auto;
}

.wrapper-img-bg {
  position: relative;
  height: 100dvh;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
.wrapper-img-bg img {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  object-fit: cover;
  filter: brightness(40%) !important;
  transition: opacity 1s;
}
.wrapper-img-bg img.active {
  opacity: 1;
}

.hero-content {
  position: absolute;
}

.wrapper-hr-section {
  text-align: center !important;
  width: 40%;
  position: static;
}
.wrapper-hr-section h5 {
  font-size: clamp(1.3rem, 1.2vw, 3rem) !important;
  margin: 0 10% 6%;
  color: rgb(24, 23, 23);
  padding: 2% 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #e0822f, #5a0000);
}
.wrapper-hr-section h3 {
  font-size: clamp(2.6rem, 5vw, 7rem) !important;
  margin-bottom: 2%;
  background-image: linear-gradient(135deg, rgb(0, 247, 255), rgb(255, 67, 67));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-emphasis-color: transparent;
  font-weight: 700;
}
.wrapper-hr-section h6 {
  font-size: clamp(2.7rem, 3vw, 4rem) !important;
  margin-bottom: 6%;
  background-image: linear-gradient(135deg, rgb(204, 164, 45), rgb(91, 10, 10));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-emphasis-color: transparent;
}
.wrapper-hr-section p {
  color: rgb(243, 243, 243);
  font-size: clamp(1rem, 2vw, 1.6rem) !important;
  margin-bottom: 6%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.wrapper-hr-section p i {
  color: #e0822f;
}

.hr-cta {
  color: rgb(243, 243, 243);
  font-size: clamp(1.5rem, 1.8vw, 1.8rem) !important;
  padding: 0 3%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.wrapper-btn-hr {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: auto;
  gap: 30px;
}
.wrapper-btn-hr a {
  color: rgb(24, 23, 23);
  background: linear-gradient(135deg, #e0822f, #5a0000);
  padding: 2% 4%;
  border-radius: 12px;
  font-size: clamp(1rem, 1.2vw, 1.2rem) !important;
  transition: all 0.3s ease-in-out;
}
.wrapper-btn-hr a:hover {
  box-shadow: 0 0 25px #e0822f;
  cursor: pointer;
}

.ticket, .host, .timeline, .retrospective {
  min-height: 100dvh;
  max-height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticket {
  background: url("/static/images/sunset.webp") no-repeat center/cover;
}
.ticket .container h4, .ticket .container h6 {
  color: rgb(243, 243, 243);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.ticket .container h4 {
  font-size: clamp(2rem, 2.5vw, 5rem) !important;
  font-weight: 800;
}
.ticket .container h6 {
  font-size: clamp(1.2rem, 1.8vw, 3.6rem) !important;
  font-weight: 300;
  text-align: center;
}

.wrapper-ticket {
  border: ridge 4px #e0822f;
  border-radius: 12px;
  padding: 5%;
  backdrop-filter: blur(50px);
}
.wrapper-ticket h2, .wrapper-ticket i, .wrapper-ticket .price-ticket {
  align-self: center;
}
.wrapper-ticket p {
  padding-left: 5%;
  color: rgb(109, 20, 0);
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(0.9rem, 2vw, 1.1rem) !important;
}
.wrapper-ticket p i {
  padding-right: 3%;
  color: rgb(0, 216, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.wrapper-esgotado {
  height: fit-content;
  width: fit-content;
  position: absolute;
}
.wrapper-esgotado img {
  max-width: 260px; /* limite */
  width: 100%; /* ocupa o espaço disponível */
  height: auto;
}

.price-ticket, #icon-ticket {
  color: rgb(243, 243, 243) !important;
  padding: 0 !important;
  font-size: clamp(1.4rem, 2vw, 1.8rem) !important;
}

#icon-ticket {
  font-size: 2rem;
  margin-bottom: 4%;
}

.wrapper-notify, .wrapper-alert {
  border-radius: 12px;
  padding: 3%;
  backdrop-filter: blur(50px);
}

.wrapper-notify {
  border: solid;
  border-width: 3%;
  border-color: #5a0000;
  border-radius: 12px;
  backdrop-filter: blur(50px);
}
.wrapper-notify p {
  color: rgb(24, 23, 23);
  font-size: clamp(1.2rem, 1.7vw, 1.4rem) !important;
}
.wrapper-notify p span {
  color: #5a0000;
  font-weight: 600;
}
.wrapper-notify p i {
  padding-right: 12px;
  color: #ffad64 !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.wrapper-alert {
  border: 2px solid #5a0000;
  background-color: #2a0000;
  margin-bottom: 3%;
}
.wrapper-alert p {
  color: rgb(243, 243, 243);
  font-size: clamp(1rem, 1.7vw, 1.4rem) !important;
}
.wrapper-alert p span {
  color: rgb(218, 199, 59);
  font-weight: 600;
}
.wrapper-alert i {
  padding-right: 12px;
  color: rgb(218, 199, 59) !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-info {
  font-size: clamp(0.9rem, 2vw, 1.1rem) !important;
  color: azure;
  background: linear-gradient(135deg, #f8923e, #6f0062);
  padding: 1% 1.8%;
  border-radius: 12px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin: 1% 1%;
}
.btn-info:hover {
  box-shadow: 0 0 20px #6f0062;
  cursor: pointer;
}

.ct-btn-buy .btn-buy {
  font-size: clamp(0.9rem, 2vw, 1.1rem) !important;
  color: azure;
  background: linear-gradient(135deg, #f8923e, #6f0062);
  padding: 2.6% 3.2%;
  border-radius: 12px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin: 1% 1%;
}
.ct-btn-buy .btn-buy:hover {
  box-shadow: 0 0 20px #6f0062;
  cursor: pointer;
}

.ct-rooms {
  justify-content: center;
  width: fit-content;
}
.ct-rooms .col-sm {
  width: fit-content;
  border: dotted;
  border-color: #42587e;
  border-radius: 12px;
  background-color: rgba(18, 18, 43, 0.5450980392);
  padding: 0;
  text-align: center;
}
.ct-rooms .col-sm p {
  padding: 1% 6%;
  text-align: center;
  font-size: clamp(0.92rem, 1.7vw, 1.3rem) !important;
}
.ct-rooms .col-sm p span {
  color: #ffad64;
  font-size: clamp(0.96rem, 1.7vw, 1.5rem) !important;
}

.ct-info-host {
  width: 100vw;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15% 0;
}
.ct-info-host p {
  font-size: clamp(1.1rem, 2vw, 1.5rem) !important;
  color: rgb(243, 243, 243);
  text-align: left;
}
.ct-info-host p i {
  padding-right: 18px;
}
.ct-info-host p span {
  color: rgb(202, 179, 43);
  font-size: clamp(1.5rem, 1.8vw, 3rem) !important;
  font-weight: 600;
}

.timeline .container h4,
.retrospective .container h4, .host .container h4 {
  color: rgb(202, 179, 43);
  font-size: clamp(1.6rem, 2.5vw, 5rem) !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 800;
}
.timeline .container h6, .timeline .container h6 a,
.retrospective .container h6,
.retrospective .container h6 a, .host .container h6, .host .container h6 a {
  color: rgb(243, 243, 243);
  font-size: clamp(1rem, 1.8vw, 3.6rem) !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.ct-timeline {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.ct-timeline .carousel-wrapper {
  margin: auto 2%;
}
.ct-timeline .carousel-wrapper #carouselExampleControls, .ct-timeline .carousel-wrapper #carouselExampleControls2 {
  width: 100%;
  max-width: 890px;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  contain: layout paint;
  transform: translateZ(0);
}
.ct-timeline .carousel-wrapper #carouselExampleControls .carousel-inner, .ct-timeline .carousel-wrapper #carouselExampleControls2 .carousel-inner {
  height: fit-content;
  overflow: hidden;
}
.ct-timeline .carousel-wrapper #carouselExampleControls .carousel-item, .ct-timeline .carousel-wrapper #carouselExampleControls2 .carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
}
.ct-timeline .carousel-wrapper #carouselExampleControls .carousel-item img, .ct-timeline .carousel-wrapper #carouselExampleControls2 .carousel-item img {
  display: block;
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.col-cards {
  max-height: 400px !important;
  margin: 10px 0;
}
.col-cards .card {
  transition: all 0.3s ease-in-out;
  border-width: 2px;
}
.col-cards .card i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.col-cards .card:hover {
  border: 2px solid #ffe62b;
  transform: scale(1.04);
  cursor: pointer;
}
.col-cards .card:hover i {
  display: block;
  font-size: 3rem;
  color: #ffe62b;
}

.ct-midia h5 {
  color: rgb(243, 243, 243);
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.ct-midia a {
  font-size: clamp(0.9rem, 2vw, 1.1rem) !important;
  color: azure;
  background: linear-gradient(135deg, #f8923e, #6f0062);
  padding: 2% 2%;
  border-radius: 12px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin: 1% 1%;
}
.ct-midia a:hover {
  box-shadow: 0 0 20px #6f0062;
  cursor: pointer;
}

.ct-img {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: auto;
  width: 100%;
}
.ct-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 300px) {
  .wrapper-hr-section {
    width: 100%;
  }
  .row-cards {
    overflow: hidden;
  }
  .card a img {
    height: 400px;
    object-fit: cover;
  }
  .ct-rooms {
    align-items: center;
    justify-content: center;
  }
  #container-cards {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .ct-btn-buy {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper-esgotado {
    top: 79%;
    bottom: 100%;
    right: 0;
    left: 59%;
  }
  .carousel-wrapper {
    width: 60%;
  }
}
@media (min-width: 360px) {
  .ct-info-host {
    min-height: 53vh;
    max-height: fit-content;
    margin: 2% 0;
  }
}
@media (min-width: 695px) {
  .ct-info-host {
    min-height: 40vh;
    max-height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .wrapper-esgotado {
    top: 70%;
    bottom: 100%;
    right: 0;
    left: 70%;
  }
}
@media (min-width: 992px) {
  .ct-info-host {
    min-height: 53dvh;
    max-height: fit-content;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ct-rooms {
    justify-content: end;
    margin-right: 3%;
  }
  #container-cards {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ct-timeline {
    flex-direction: row !important;
  }
  .ct-btn-buy {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .wrapper-esgotado {
    top: 78%;
    bottom: 100%;
    right: 0;
    left: 63%;
  }
  .carousel-wrapper {
    width: 40% !important;
  }
}
@media (min-width: 1024px) {
  .wrapper-hr-section {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .wrapper-hr-section {
    width: 60%;
  }
  .wrapper-esgotado {
    top: 66%;
    bottom: 100%;
    right: 0;
    left: 56%;
  }
  .carousel-wrapper {
    width: 36% !important;
  }
}
@media (max-width: 818px) {
  #row-midia {
    flex-direction: column !important;
    gap: 10px !important;
  }
}
/*Asus Zenbook Fold*/
@media (width: 853px) and (height: 1280px) {
  .ct-info-host {
    min-height: 15dvh;
    max-height: fit-content;
    flex-direction: row;
  }
}
/*IPad*/
@media (width: 768px) and (height: 1024px) {
  .ct-info-host {
    flex-direction: row;
    min-height: 10dvh;
    max-height: fit-content;
  }
  .host, .timeline {
    min-height: 50dvh;
  }
}

/*# sourceMappingURL=anarcopolis.css.map */
