html, body { 
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-top-area {
    background-color: #1a1a1a;
}

.footer-top-area .widget > h3 {
    color: #ffffff;
}

.footer-top-area .widget {
    color: #a5a5a5;
}

.footer-top-area a:link, .footer-top-area a:visited {
    color: #a5a5a5;
}

.footer-top-area .widget a:hover, .footer-top-area .widget a:active {
    color: #ffbc00;
}

.footer-bottom-area {
    background-color: #111212;
    color: #ababab;
}

.footer-style-2 .footer-top-area .widget .menu li a:hover {
    color: #ffbc00;
}

.footer-style-2 .footer-top-area .widget .menu li a:hover:after {
    background-color: #ffbc00;
}

.footer-text {
    text-decoration: none;
}

footer {
    margin-top: auto;
}

form label.required:after {
    content: " *";
    color: red;
}

a, u {
    text-decoration: none;
}

.password-instructions {list-style-type: none; 
    padding: 0;     
    margin-top: 5px;
} 

.password-instructions li {color: red; font-size: 14px; list-style: disc; margin-left: 18px; } 

.password-strength {font-weight: bold; } 

.password-requirements {font-style: italic; }

.text-error {
    color: red;
    display: none;
}

.image-container {
    width: 18rem;
    overflow: hidden;
}

.preco-card {
    color: gold;
    font-weight: bolder;
    font-size: x-large;
}

.departamento-display {
    color: lightgray;
    font-size: small;
}

.zoom-image {
    width: 100%;
    transition: transform 0.3s ease;
}

.card:hover .zoom-image {
    transform: scale(1.2);
}

#star:hover {
    color: gold;
    font-size: large;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Barra de navegação */
.navbar-nav .nav-link {
    color: #333333; /* Cor uniforme para todos os links */
    font-weight: normal; /* Remove o negrito */
    font-size: 1rem; /* Tamanho da fonte consistente */
    text-transform: none; /* Remove transformações */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Cor ao passar o mouse (opcional) */
}

.navbar-brand {
    color: #333333; /* Cor do link principal */
    font-weight: normal;
    font-size: 1.2rem; /* Ajuste do tamanho da fonte */
    text-transform: none;
}

.navbar-toggler {
    border: none; /* Remove borda do botão no mobile */
}

.navbar-toggler-icon {
    background-color: #333333; /* Cor do ícone do mobile */
}

.navbar-nav {
    font-size: 1rem; /* Ajusta o tamanho dos itens da barra */
}