@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Charm:wght@400;700&family=Cookie&display=swap');

p, span {
    font-size: clamp(0.90rem, 1.1vw, 3rem) !important;
}

span {
    margin: 8px;
    gap: 10px;
}

li {
    font-size: clamp(0.80rem, 1.1vw, 1.2rem) !important;
}

h4 {
    font-size: clamp(1.2rem, 2.5vw, 1.7rem) !important;
}

h5 {
    font-size: clamp(0.95rem, 2.2vw, 1.5rem) !important;
}

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden !important;
}

/* Efeito de scrollagem */

.hidden-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-out;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }

/**/

/* Div de centralização */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}


/**/

/* Shapes */

.custom-shape-divider-top-1744652616 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1744652616 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1744652616 .shape-fill {
    fill: #FFFFFF;
}

/**/

/* */

.apresentation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100dvw;
    height: 58dvh;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    image-rendering: auto;          
    image-rendering: smooth;         
    image-rendering: high-quality;   
    image-rendering: -webkit-optimize-contrast;
    filter: contrast(105%);
}

.apresentation-LN {
    background: url('/static/images/forest.png') no-repeat center/cover;
}

.apresentation-DAO{
    background: url('/static/images/blockchain.png') no-repeat center/cover;
}

.apresentation-REGRAS {
    background: url('/static/images/regrasdao.png') no-repeat center/cover;
}

.apresentation-hierarquia {
    background: url('/static/images/hierarquia.png') no-repeat center/cover;
}

.apresentation-CF {
    background: url('/static/images/donttreadonmeBG.webp') no-repeat center/cover;
}

.head-title h1 {
    font-size: 4rem;
    color: rgb(243, 243, 243);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.column-rights {
    max-height: fit-content;
}

.head-title h4 {
    font-size: 1.8rem;
    font-weight: 200;
    padding: 10px 15px;
    color:rgb(0, 0, 0);
    background-color: rgba(240, 255, 255, 0.596);
    text-shadow: 2px 2px 4px rgba(245, 245, 245, 0.5);
}

.highlight-text {
    font-family: "Charm", cursive;
    font-size: 2rem;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 8px;
}

.container-vpl {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.column-topics {
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    padding: 15px;
    color: white;
    min-height: 300px;
    width: fit-content;
}

.bg-img, .bg-img-2 {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100vw;
    max-width: 40vw;
}

.bg-img {
    left: 50%;
    top: 0%;
    right: 50%;
    margin-left: -74vw;
    margin-right: -50vw;
  }
  
.bg-img-2 {
    left: 50%;
    top: 0%;
    right: 100%;
    margin-left: 34vw;
    margin-right: -50vw;
}

.img-side {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
  }

.content-law {
   text-align: center;
    padding: 0 12%;
}

.dao-button {
    padding: 10px 15px;
    background-color: #FFFFFF;
    box-shadow: rgb(185, 140, 3) 0 0 80px;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: rgb(185, 140, 3);
    color: black;
    transition: all 0.5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dao-button:hover {
    background-color: rgb(185, 140, 3);
    color: white;
    transition: all 0.5s ease-in-out;
}

.dao-button:active {
    background-color: rgb(185, 140, 3);
}

/* ajuste para telas menores */
@media (max-width: 992px) {
    .bg-img, .bg-img-2 {
      display: none;
    }

    .content-law {
        padding: 0 0;
    }

    .content {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    .body-text {
        margin-top: 50px !important;
        padding-top: 50px !important;
    }

  }

/* notebook */
@media (max-width: 1024px) {

    .column-rights {
        width: 100%;
    }

    .column-img {
        min-height: 400px;
        min-width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 10px;
    } 

    .column-img-LN {
        background: url('/static/images/lawwomansmall.PNG') no-repeat center/cover;
    }

    .column-img-DAO{
        background: url('/static/images/automatization.webp') no-repeat center/cover;
    }

    .column-img-CF {
        background: url('/static/images/ancapsnake.webp') no-repeat center/cover;
    }
    
    .display-img {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    .content .col-sm-6 {
        width: 100%;
        padding: 10px 0;    
    }

}

@media (min-width: 1024px) {

    .column-rights p {
        font-size: clamp(0.90rem, 1.5vw, 3rem);
    }

} 

@media (min-width: 1280px) {
    .column-rights p {
        font-size: clamp(0.90rem, 1vw, 3rem);
    }
}

@media (min-width: 1400px) {
    .column-rights p {
        font-size: clamp(1rem, 1.2vw, 3rem);
    }
}