@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Charm:wght@400;700&family=Cookie&display=swap');

* {
    box-sizing: border-box;
}

p, span {
    font-size: clamp(0.90rem, 1.1vw, 3rem);
}

span {
    margin: 8px;
    gap: 10px;
}

li {
    font-size: clamp(0.80rem, 1.1vw, 1.2rem) !important;
}

h4 {
    font-size: clamp(1rem, 2.3vw, 2rem);
}

h5 {
    font-size: clamp(0.95rem, 2.2vw, 1.8rem) !important;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) !important;
}

html, body {
    overflow-x: hidden !important;
    overflow-y: auto;
    background-color: rgb(221, 221, 221);
}

/* Efeito de scrollagem */
.hidden-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-out;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }

/**/

/* Div de centralização */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
/**/

/* Shapes */
.custom-shape-divider-top-1744652616 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1744652616 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1744652616 .shape-fill {
    fill: #FFFFFF;
}

/* Titulo das páginas */
.apresentation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100dvw;
    height: 58dvh;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    image-rendering: auto;          
    image-rendering: smooth;         
    image-rendering: high-quality;   
    image-rendering: -webkit-optimize-contrast;
    filter: contrast(105%);
}

.apresentation-LN {
    background: url('/static/images/forest.webp') no-repeat center/cover;
}

.apresentation-DAO{
    background: url('/static/images/blockchain.webp') no-repeat center/cover;
}

.apresentation-REGRAS {
    background: url('/static/images/regrasdao.webp') no-repeat center/cover;
}

.apresentation-hierarquia, .bg-hierarquia {
    background: url('/static/images/hierarquia.webp') no-repeat center/cover;
}

.apresentation-CF {
    background: url('/static/images/donttreadonmeBG.webp') no-repeat center/cover;
}

.head-title h1 {
    font-size: clamp(2.3rem, 2.8vw, 4rem);
    color: rgb(243, 243, 243);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}

.head-title h4 {
    font-weight: 200;
    padding: 10px 15px;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.466);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Seção com duas imagens laterais */
.bg-img, .bg-img-2 {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100vw;
    max-width: 40vw;
}

.bg-img {
    left: 50%;
    top: 0%;
    right: 50%;
    margin-left: -71vw;
    margin-right: -50vw;
  }
  
.bg-img-2 {
    left: 50%;
    top: 0%;
    right: 100%;
    margin-left: 31vw;
    margin-right: -50vw;
}

.img-side {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    object-fit: cover;
}

.content-law {
   text-align: center;
    padding: 0 12%;
}

/*Coluna com texto e imagem lateral*/
.column-rights {
   height: fit-content;
}

.column-rights h4 {
    margin-bottom: 3%;
}

.column-img img {
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
}

.display-img {
    border-radius: 10px; 
    object-fit: cover; 
    position: relative; 
    z-index: 2; 
    min-height: fit-content; 
    max-height: max-content;
}

/* Coluna de tópicos */
.column-topics {
    background-color: rgb(175, 175, 175);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
    border-radius: 10px;
    padding: 15px;
    color: black;
    min-height: 300px;
    width: fit-content;
}

/* Botões */
.bg-btn-curso {
    height: 21dvh;
    margin: 3% 0;
    border-radius: 16px;
}

.bg-btn-curso img {
    width: 100%;
    filter: brightness(50%);
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.dao-button {
    padding: 10px 15px;
    background-color: #FFFFFF;
    box-shadow: rgb(185, 140, 3) 0 0 30px;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: rgb(185, 140, 3);
    color: black;
    font-size: clamp(1.1rem, 1.1vw, 2rem);
    transition: all 0.5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dao-button:hover {
    background-color: rgb(185, 140, 3);
    color: white;
    transition: all 0.5s ease-in-out;
}

.dao-button:active {
    background-color: rgb(185, 140, 3);
}

/* Vida Propriedade e liberdade*/
.wrapper-col-pilar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.596);
}

.wrapper-col-pilar p {
    position: absolute;
    color: black;
    padding: 7% 7%;
    font-size: clamp(0.55rem, 1.5vw, 3rem) !important;
    border-radius: 12px;
    background-color: rgba(223, 223, 223, 0.733);
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.wrapper-col-pilar img {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 12px;
    object-fit: cover;
}

.col-pilar {
    width: 25%;
    transition: 0.3s all ease-in-out;
}

.col-pilar:hover {
    width: 26%;
}

/* ajuste para telas menores */
@media (max-width: 992px) {
    .content {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
  }

@media (max-height: 658px) {
    .head-title h1 {
        font-size: 2rem;
    }
}

/* notebook */
@media (max-width: 1024px) {
    .column-rights {
        width: 100%;
    }

    .column-img {
        min-height: 400px;
        min-width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 10px;
    } 

    .column-img-LN {
        background: url('/static/images/lw-small.webp') no-repeat center/cover;
    }

    .column-img-CF {
        background: url('/static/images/ancapsnake.webp') no-repeat center/cover;
    }
    
    .display-img {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    .content .col-sm-6 {
        width: 100%;
        padding: 10px 0;    
    }
}

@media (min-width: 1024px) {
    .column-rights p {
        font-size: clamp(0.90rem, 1.5vw, 3rem);
    }

} 

@media (min-width: 1280px) {
    .column-rights p {
        font-size: clamp(0.90rem, 1vw, 3rem);
    }
}

@media (min-width: 1400px) {
    .column-rights p {
        font-size: clamp(1rem, 1.2vw, 3rem);
    }
}