<div class="col">
    <a href="{% url 'user_log_rating' %}">
        <i class="bi bi-trophy" style="font-size: 24px; padding-left: 10px;"></i>
    </a>
    <p>{{ profile.pontuacao }} pts </p>
</div>
<div class="col">
    <a href="{% url 'lista_cursos' username=user.username %}">
        <i class="bi bi-book" style="font-size: 24px; padding-left: 10px"></i>
    </a>
    <p>Cursos</p>
</div>
<div class="col">
    <a href="{% url 'user_pending' username=user.username %}"><i class="bi bi-bar-chart" style="font-size: 24px; padding-left: 10px"></i></a>
    {% if not member.is_fraguista %}
        <p>Não Fraguista</p>
    {% else %}
        <p>{{ profile.nivel.capitalize }}</p>
    {% endif %}
</div>
<div class="col">
    <a href="{% url 'preferencias' %}"><i class="bi bi-gear" style="font-size: 24px; padding-left: 10px"></i></a>
    <p>Configurações</p>
</div>
<div class="col align-self-center">
    <button class="btn btn-primary text-wrap" role="button" type="button" onclick="generateCustomLink()">
        Indicação
    </button>
    <input type="text" id="affiliateLink" value="{{ request.scheme }}://{{ request.get_host }}{% url 'register' %}?ref={{ user.username }}" style="position: absolute; left: -9999px;">
    <p id="copyMessage" style="display: none; color: green;">Link copiado!</p>
</div>

<div class="col align-self-center">
    <a href="{% url 'comunidade' %}" class="btn btn-secondary" role="button" style="border-radius: 20px;">
        Comunidade
    </a>
</div>