<div class="row pt-4">
    <div class="col">
        <label class="lable-control" for="password">Senha *</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
</div>
<div class="col">
    <ul class="list-group list-group-flush ps-4">
        <li id="pass-length" class="list-group-item border-0 p-0  small">A senha deve ter pelo menos 8 caracteres.</li>
        <li id="pass-numeric" class="list-group-item border-0 p-0  small">A senha não pode ser inteiramente numérica.</li>
        <li id="pass-alphnumeric" class="list-group-item border-0 p-0  small">A senha deve conter letras e números.</li>
        <li id="pass-equal" class="list-group-item border-0 p-0  small">As senhas não correspondem.</li>
    </ul>    
</div>
<div class="row pt-2 pb-4">
    <div class="col">
        <label class="lable-control" for="password2">Repita a senha *</label>
        <input type="password" class="form-control" id="password2" name="password2">
    </div>
</div>