    {% load static %}
    
    <div class="row">
        <div class="col">
            <label class="lable-control" for="help_project">Como você pode ajudar o projeto? *</label>
            <textarea class="form-control" id="help_project" name="help_project" rows="3" minlength="50" data-questionario="true"></textarea>
            <small class="form-text text-muted">
                Ex.: Divulgando nas redes sociais, criando conteúdo, etc. (min. 50 caracteres)
            </small>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="reason_to_participate">Por qual motivo que você quer participar do projeto? *</label>
            <textarea class="form-control" id="reason_to_participate" name="reason_to_participate" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="reason_to_accept">Por qual motivo deveríamos te aceitar no projeto? *</label>
            <textarea class="form-control" id="reason_to_accept" name="reason_to_accept" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="political_belief">Descreva sua crença política, por quê você se considera assim? O que sua doutrina tem de positivo? *</label>
            <textarea class="form-control" id="political_belief" name="political_belief" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="state_opinion">Em sua opinião, como o Estado deveria ser? *</label>
            <textarea class="form-control" id="state_opinion" name="state_opinion" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="jusnaturalismo_vs_juspositivismo">Qual a diferença do Jusnaturalismo para o Juspositivismo? *</label>
            <textarea class="form-control" id="jusnaturalismo_vs_juspositivismo" name="jusnaturalismo_vs_juspositivismo" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="economic_values">O valor na esfera econômica é subjetivo ou objetivo? Justifique sua resposta. *</label>
            <textarea class="form-control" id="economic_values" name="economic_values" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="bitcoin_positive_characteristics">Em sua opinião, quais as características positivas do Bitcoin? *</label>
            <textarea class="form-control" id="bitcoin_positive_characteristics" name="bitcoin_positive_characteristics" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="game_theory_byzantine_generals">Como a teoria dos jogos e o problema dos generais bizantinos se aplica ao bitcoin? *</label>
            <textarea class="form-control" id="game_theory_byzantine_generals" name="game_theory_byzantine_generals" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="pna_and_argumentative_ethics">O que é PNA e ética Argumentativa? *</label>
            <textarea class="form-control" id="pna_and_argumentative_ethics" name="pna_and_argumentative_ethics" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="libertarian_knowledge_sources">Qual seu nível de conhecimento sobre o libertarianismo, anarcocapitalismo, agorismo e voluntarismo? *</label>
            <textarea class="form-control" id="libertarian_knowledge_sources" name="libertarian_knowledge_sources" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label class="lable-control" for="bitcoin_knowledge_sources">Qual seu nível de conhecimento sobre Bitcoin, Blockchain, NFT, DAOs e contratos inteligentes? *</label>
            <textarea class="form-control" id="bitcoin_knowledge_sources" name="bitcoin_knowledge_sources" rows="3" minlength="50" data-questionario="true"></textarea>
        </div>
    </div>

    <div class="row">
        <p><input type="checkbox" class="form-check-input" id="codigo_conduta"> Li e concordo com o
            <a href="{% static 'pdf/Normas_de_Conduta.pdf' %}" target="_blank" rel="noopener noreferrer">
                Código de
                conduta</a> do Fraguismo!                
        </p>
    </div>
