<div class="row">
    <div class="col">
        <label class="lable-control" for="username">Username *</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
</div>
<span id="validation-username" class="text-error"> Username inválido.</span>
<div class="row">
    <div class="col">
        <label class="lable-control" for="email">E-mail *</label>
        <input type="text" class="form-control" id="email" name="email">
    </div>
</div>
<span id="validation-email" class="text-error">Endereço inválido.</span>
