{% extends 'base.html'%}

{% block content %}
{% load static %}

<div class="shadow p-4 mb-5 bg-body rounded">
	<div class="text-center">
		<h1>NORMAS GERAIS DE CONDUTA</h1>		
		<p>01. Evite tomar parte em desavenças. Compreenda que é da natureza da nossa comunidade
		que nos apoiemos e nos fortaleçamos nos pontos em que concordamos, e que nos respeitemos
		e aprendamos uns com os outros nos pontos em que discordamos.</p>
		<p>02. No caso de desavença inevitável, antes de argumentar, considere que a contraparte possa
		estar movida por diferença legítima de opinião, ou, talvez, erro inocente quanto à matéria (bem
		como você).</p>
		<p>03. Caso pretenda tomar parte em discussão, privilegie canais privados, e, mesmo nesses,
		respeite o colega fraguista. O desrespeito entre fraguistas (mesmo em privado, caso denunciado
		por uma das partes) será avaliado pelos diretores, podendo ensejar punição.</p>
		<p>04. “Argumentum ad hominem”, Falácia do Espantalho e outros recursos debatentes pobres não
		geram apreço na nossa comunidade. Vale a pena evitar.</p>
		<p>05. Grosserias, gritos, xingamentos, serão avaliados pelos diretores, podendo ensejar punição.</p>
		<p>06. Mantenha o elevado nível de respeito pessoal e pelo Fraguismo que se espera de um
		Fraguista.</p>
		<p>07. Participar dos grupos, dos canais e das reuniões do Fraguismo não é um direito, mas um
		privilégio. Faça com que sua postura justifique seu ingresso e que sua permanência seja
		desejada, não tolerada.</p>
		<p>08. Sua conduta dá forma à sua reputação, e sua reputação pode fazer a diferença no seu
		crescimento no Fraguismo.</p>
		<p>09. Caso você tenha algum problema no contexto do Fraguismo, qualquer que seja, leve ao
		conhecimento de um diretor, em privado. Caso você tenha alguma crítica, da mesma forma.</p>
		<p>10. Lembre-se de que nós não somos o Estado.</p>
		<h2>NORMAS DE CONDUTA PARA AS REUNIÕES E ÁGORAS FRAGUISTAS</h2>
		<p>01. Com antecedência, verifique se o espaço físico a partir do qual você participará está livre de
		barulhos, bagunças, sujeiras e outras inconveniências à sua participação e à participação dos
		demais colegas fraguistas.</p>
		<p>02. As Ágoras têm duração estimada de uma hora, e as reuniões podem durar desde poucos
		minutos até mais que uma hora. Organize-se para participar; cumpra o horário de início e se
		esforce para permanecer até o fim.</p>
		<p>03. Ao ingressar na Ágora, mantenha silêncio, respeito e concentração, sobretudo caso a Ágora
		já tenha começado. Ao ingressar na reunião, haja com cordialidade e respeito para com os
		colegas fraguistas que já estão no nosso espaço virtual de convivência – e mantenha esse
		espírito durante toda a reunião.</p>
		<p>04. Verifique se suas vestes são adequadas à Ágora e à reunião, bem como sua postura
		(recomendamos que esteja sentado, e que o "fundo" não seja chamativo).</p>
		<p>05. Pedimos não comer, não fumar, não fazer uso de chicletes, balas ou doces durante a Ágora
		e durante a reunião. Abster-se dessas condutas reforça o respeito pelos colegas e pela
		instituição.</p>
		<p>06. Se precisar se ausentar para ir ao banheiro, beber água ou atender a uma chamada urgente,
		por exemplo, desligue a câmera e o microfone, e o faça com discrição.</p>
		<p>07. Se desejar falar, o faça no momento correto, e da forma correta: peça a palavra, e, quando
		for concedida, seja breve, conciso e respeitoso.</p>
		<p>08. Ao ter a palavra, lembre-se de que as Ágoras refletem nossos Princípios Fundamentais e as
		reuniões comumente têm pautas. Evite assuntos que saiam do tema, causem discórdia ou
		divagações. Temos outros momentos para descontrair, aproveite-os!</p>
		<p>09. Se discordar de algum colega fraguista, considere que ele pode ter apenas manifestado uma
		divergência legítima de opinião, ou um erro inocente. Caso a discordância seja intransponível,
		discretamente, contate um dos diretores em privado. Não dê combustível a dissensos.</p>
		<p>10. Contribua para o estabelecimento e a manutenção dos elevados níveis de concórdia,
		dignidade e respeito esperados de um fraguista. As reuniões são pequenas Ágoras, as Ágoras
		são grandes reuniões.</p>
		<h2>SISTEMA PUNITIVO</h2>
		<p>01. As desavenças e as posturas em desacordo com estas normas podem ser objeto de análise
		dos diretores, acarretando punições.</p>
		<p>02. A postura do fraguista fora das reuniões e da convivência da comunidade também pode ser
		objeto de análise.</p>
		<p>03. A punição será proporcional ao praticado, e consistirá em strike, repreensão pública,
		impedimento para elevação de nível no Fraguismo por tempo determinado, suspensão da
		comunidade por tempo determinado e expulsão da comunidade.</p>
		<p>04. Duas ou mais punições podem ser aplicadas simultaneamente.</p>
		<p>05. O fraguista a ser punido pode ser chamado em strike por até duas vezes, caso se entenda
		que os casos são de menor gravidade.</p>
		<p>06. Nenhum fraguista que tenha sido punido com dois strikes poderá receber um terceiro,
		cabendo punição mais gravosa.</p>
		<p>07. A aplicação do Sistema Punitivo se dará da seguinte forma:</p>
		<p>07.a. Qualquer fraguista poderá apresentar a diretor questão que considere em desacordo com
		estas normas;</p>
		<p>07. b. A questão será apresentada aos demais diretores, e, em se considerando que há
		plausibilidade, será formada comissão por três diretores para julgarem a questão;</p>
		<p>07.c. O fraguista denunciado será convidado a apresentar argumentos, em até três dias;</p>
		<p>07.d. A comissão julgará e divulgará aos demais diretores e ao denunciado, em até três dias
		após receber os argumentos;</p>
		<p>07.e. Caso o denunciado considere o resultado injusto, pode apresentar recurso à Diretoria,
		ocasião em que se formará nova comissão de três diretores, o denunciado apresentará
		argumentos em até três dias e a nova comissão julgará e divulgará o resultado aos demais
		diretores e ao denunciado, em até três dias.</p>
		<p>08. Nos casos considerados de alta gravidade e alta plausibilidade, a Diretoria pode decidir por
		suspender da comunidade o denunciado, de forma preventiva, enquanto se dá a aplicação do
		Sistema Punitivo.</p>
		<p>09. Os resultados dos julgamentos e as punições adotadas serão objeto de registro, sendo que,
		caso o fraguista punido, após cumprir a punição, tenha período de um ano sem qualquer outra
		punição, poderá pedir reabilitação e remoção do registro, exceto no caso de expulsão da
		comunidade.</p>
		<p>10. Os casos omissos serão decididos pela Diretoria, que pode fazer arranjos, se preciso,
		preservando o espírito destas normas.</p>
	</div>
	<hr>
</div>

{% endblock content %}