{% extends 'base.html'%}

{% block content %}
{% load static %}

<div class="shadow p-4 mb-5 bg-body rounded">
	<div>		
		
		<div class="text-center">
			<h2>Termo de Consentimento para Tratamento de Dados</h2>
			<br>
			<h3>O Termo</h3>
		</div>
		
		<p>Este documento visa registrar a manifestação livre, informada e inequívoca pela qual o Titular dos dados (“Titular”) 
		concorda com o tratamento de seus dados pessoais para finalidade específica, em conformidade com a Lei N. 13.709/2018 – Lei Geral de Proteção de Dados Pessoais (LGPD).</p>
		<p>Ao manifestar sua aceitação para com o presente termo, o Titular consente e concorda que o Fraguismo, CNPJ N. 54.635.670/0001-03, 
		com sede na Logradouro: Alameda Florenca, 000077, loja 05, Pituba, Salvador (BA), CEP: 41830-460 N, telefone (71)99373-7167, 
		e-mail: fraguismo@protonmail.com (“Controladora”), tome decisões referentes ao tratamento, bem como realize o tratamento de seus dados pessoais, 
		dados referentes às empresas indicadas pelo Titular ou dados necessários à participação do Titular na comunidade da Controladora, envolvendo operações que se refiram à coleta,
		produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação, controle,
		modificação, comunicação, transferência, difusão ou extração dos dados pessoais.</p>

		<div class="text-center">
			<h2>Dados Pessoais</h2>
		</div>
		
		<p>A Controladora fica autorizada a tomar decisões referentes ao tratamento e a realizar o tratamento dos seguintes dados pessoais do Titular, os quais o Titular declara fornecer de livre vontade e verdadeiros, sem erros ou omissões:</p>
		<lu class="list-group text-start">
			<li class="list-group-item">I.     Nome completo;</li> 
			<li class="list-group-item">II.    Data de nascimento;</li> 
			<li class="list-group-item">III.   Número do RG;</li>
			<li class="list-group-item">IV.    Número do CPF;</li>
			<li class="list-group-item">V.     Composição familiar, nomes e datas de nascimentos dos membros da família;</li>
			<li class="list-group-item">VI.    Fotografia;</li>
			<li class="list-group-item">VII.   Estado civil;</li>
			<li class="list-group-item">VIII.  Nível de instrução ou escolaridade;</li>
			<li class="list-group-item">IX.    Endereço completo;</li>
			<li class="list-group-item">X.     Números de telefone e aplicativos de mensagens (WhatsApp, Telegram e outros);</li>
			<li class="list-group-item">XI.    Endereços de e-mail;</li>
			<li class="list-group-item">XII.   Profissão;</li>
			<li class="list-group-item">XIII.  Nomes, endereços, meios de contato e aspectos negociais (promoções etc.) de pessoas jurídicas das quais participe ou que deseje promover;</li>
			<li class="list-group-item">XIV.   Textos de artigos e comentários;</li>
			<li class="list-group-item">XV.    Convicção religiosa;</li>
			<li class="list-group-item">XVI.   Opinião política;</li>
			<li class="list-group-item">XVII.  Nome de usuário e senha específicos para acesso da comunidade da Controladora;</li>
			<li class="list-group-item">XVIII. Comunicação, verbal e escrita, mantida entre o Titular e a Controladora.</li>
		</lu>
		<br>
		<div class="text-center">
			<h3>Finalidades do Tratamento dos Dados</h3>
		</div>
		
		<ul class="list-group">
			<li class="list-group-item">I.    O tratamento dos dados pessoais listados neste Termo tem as seguintes finalidades:</li>
			<li class="list-group-item">II.   Possibilitar que a Controladora analise as informações do Titular para fins de admissão como membro de sua comunidade;</li>
			<li class="list-group-item">III.  Possibilitar que a Controladora identifique e entre em contato com o Titular para fins de relacionamento;</li>
			<li class="list-group-item">IV.   Possibilitar que a Controladora divulgue e/ou promova conteúdo próprio e/ou de terceiro ao Titular;</li>
			<li class="list-group-item">V.    Possibilitar que a Controladora divulgue e/ou promova conteúdo produzido pelo Titular;</li>
			<li class="list-group-item">VI.   Possibilitar que a Controladora divulgue e/ou promova produtos e/ou serviços fornecidos pelo Titular e/ou por pessoa jurídica indicada pelo Titular;</li>
			<li class="list-group-item">VII.  Possibilitar que a Controladora utilize os dados pessoais em pesquisas;</li>
			<li class="list-group-item">VIII. Possibilitar que a Controladora utilize tais dados na inscrição, divulgação e/ou premiação do Titular em eventos, prêmios e/ou concursos;</li>
			<li class="list-group-item">IX.  Possibilitar que a Controladora utilize tais dados na elaboração de relatórios;</li>
			<li class="list-group-item">VX.   Possibilitar que a Controladora utilize tais dados em suas peças de comunicação.</li>
		</ul>
		<br>
		<div class="text-center">
			<h3>Compartilhamento de Dados</h3>
		</div>
		<p>A Controladora fica autorizada a compartilhar os dados pessoais do Titular com outros agentes de tratamento de dados, caso seja necessário para as finalidades listadas neste termo, observados os princípios e as garantias estabelecidas pela Lei N. 13.709/2018.</p>
		<br>
		<div class="text-center">
			<h3>Segurança dos Dados</h3>
		</div>
		<p>
			A Controladora responsabiliza-se pela manutenção de medidas de segurança, técnicas e administrativas aptas a proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito.
		</p>
		<p>
			Em conformidade ao art. 48 da Lei N. 13.709/2018, a Controladora comunicará ao Titular e à Autoridade Nacional de Proteção de Dados (ANPD) a ocorrência de incidente de segurança que possa acarretar risco ou dano relevante ao Titular.
		</p>
		<p>
			As partes poderão entrar em acordo, quanto aos eventuais danos causados, caso exista o vazamento de dados pessoais ou acessos não autorizados, e caso não haja acordo, a Controladora tem ciência que estará sujeita às penalidades previstas no artigo 52 da Lei N. 13.709/2018.	
		</p>
		<br>
		<div class="text-center">
			<h3>Término do Tratamento dos Dados</h3>
		</div>
		
		<p>
			O Titular poderá solicitar via e-mail ou correspondência à Controladora, a qualquer momento, que sejam eliminados os dados pessoais não anonimizados do Titular.
		</p>
		<p>
			A Controladora poderá manter e tratar os dados pessoais do Titular durante todo o período em que os mesmos forem pertinentes ao alcance das finalidades listadas neste termo, sendo que os dados pessoais anonimizados, sem possibilidade de associação ao indivíduo, poderão ser mantidos por período indefinido.
		</p>

		<p>O Titular fica ciente de que a Controladora poderá permanecer utilizando os dados para as seguintes finalidades:</p>
		<ul class="list-group">
			<li class="list-group-item">I.    Para cumprimento de obrigações decorrentes da legislação trabalhista e previdenciária, incluindo o disposto em Acordo ou Convenção Coletiva da categoria da Controladora;</li>
			<li class="list-group-item">II.   Para procedimentos de admissão e execução do contrato de trabalho, inclusive após seu término;</li>
			<li class="list-group-item">III.  Para cumprimento, pela Controladora, de obrigações impostas por órgãos de fiscalização;</li>
			<li class="list-group-item">IV.   Para o exercício regular de direitos em processo judicial, administrativo ou arbitral;</li>
			<li class="list-group-item">V.    Para a proteção da vida ou da incolumidade física do titular ou de terceiros;</li>
			<li class="list-group-item">VI.   Para a tutela da saúde, exclusivamente, em procedimento realizado por profissionais de saúde, serviços de saúde ou autoridade sanitária;</li>
			<li class="list-group-item">VII.  Quando necessário para atender aos interesses legítimos do controlador ou de terceiros, exceto no caso de prevalecerem direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.</li>
		</ul>
		


		<p>O Titular fica ciente de que a Controladora deverá permanecer com os seus dados pelo período mínimo de guarda de documentos trabalhistas, previdenciários, bem como os relacionados à segurança e saúde no trabalho, mesmo após o encerramento do vínculo empregatício.</p>

		<p>O Titular fica ciente de que poderá ser inviável à Controladora continuar a consecução de suas atividades em relação ao Titular a partir da eliminação dos dados pessoais.</p>
		<br>
		<div class="text-center">
			<h3>Direitos do Titular</h3>
		</div>
		

		<p>O Titular tem direito a obter da Controladora, em relação aos dados por ele tratados, a qualquer momento e mediante requisição:</p>
		<ul class="list-group">
			<li class="list-group-item">I.    Confirmação da existência de tratamento;</li>
			<li class="list-group-item">II.   Acesso aos dados;</li>
			<li class="list-group-item">III.  Correção de dados incompletos, inexatos ou desatualizados;</li>
			<li class="list-group-item">IV.   Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na Lei N. 13.709/2018;</li>
			<li class="list-group-item">V.    Portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;</li>
			<li class="list-group-item">VI.   Eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas hipóteses previstas no art. 16 da Lei N. 13.709/2018;</li>
			<li class="list-group-item">VII.  Informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados;</li>
			<li class="list-group-item">VIII. Informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;</li>
			<li class="list-group-item">IX.   Revogação do consentimento, nos termos do § 5º do art. 8º da Lei N. 13.709/2018.</li>
		</ul>
		<br>
		<div class="text-center">
			<h3>Direito de Revogação do Consentimento</h3>
		</div>
		<p>Este consentimento poderá ser revogado pelo Titular a qualquer momento, mediante solicitação via e-mail ou correspondência à Controladora.</p>
	</div>
	<hr>
</div>

{% endblock content %}