{% load static %}

<div id="classima_about-2" class="widget widget_classima_about">
    <div class="d-flex align-items-center" style="padding-bottom: 20px;">
        <img src="{% static '/images/logofraguinha.png' %}" width="40%" height="95" alt="Fraguismo" class="img-fluid">
    </div>
    <p class="rtin-des">Fraguismo é uma religião pautada nos princípios do jusnaturalismo e do
        PNA</p>
    <ul class="list-group list-group-horizontal">
        <li class="list-group">
            <a href="https://twitter.com/fraguismo" target="_blank" style="padding: 10px; padding-left: 0px;">
                <i class="bi bi-twitter-x" style="font-size: 24px;"></i>
            </a>
        </li>
        <li class="list-group">
            <a href="https://www.instagram.com/fraguismo/" target="_blank" style="padding: 10px;">
                <i class="bi bi-instagram" style="font-size: 24px;"></i>
            </a>
        </li>
        <li class="list-group">
            <a href="https://www.youtube.com/@fraguismo" target="_blank" style="padding: 10px;">
                <i class="bi bi-youtube" style="font-size: 24px;"></i>
            </a>
        </li>
    </ul>
</div>