{% load static %}

<div id="nav_menu-5" class="widget widget_nav_menu">
    <p class="h3 text-light">Informações e Artigos</p>
    <div class="menu-information-container">
        <ul id="menu-information" class="list-group">
            <li id="menu-item-1232" class="list-group">
                <a href="{% url 'contato' %}" style="text-decoration: none;">Empresa e informações de contato</a>
            </li>
            <li id="menu-item-1233" class="list-group">
                <a href="https://ancapsu.com/site/artigos" style="text-decoration: none;">Blog e artigos</a>
            </li>
            <li id="menu-item-1231" class="list-group">
                <a href="{% static 'pdf/termos_condicoes.pdf' %}" style="text-decoration: none;">Termos e
                    Condições</a>
            </li>
            <li id="menu-item-1230" class="list-group">
                <a href="{% static 'pdf/Normas_de_Conduta.pdf' %}" style="text-decoration: none;">Código de
                    Conduta</a>
            </li>
        </ul>
    </div>
</div>