{% load static %}

<div id="nav_menu-3" class="widget widget_nav_menu">
    <p class="h3 text-light">Links úteis</p>
    <div class="menu-selling-container">
        <ul id="menu-selling" class="list-group">
            <li id="menu-item-20" class="list-group">
                <a href="#" style="text-decoration: none;">Dicas de venda</a>
            </li>
            <li id="menu-item-21" class="list-group">
                <a href="#" style="text-decoration: none;">Compre e venda rapidamente</a>
            </li>
            <li id="menu-item-22" class="list-group">
                <a href="#" style="text-decoration: none;">Membership</a>
            </li>
            <li id="menu-item-23" class="list-group">
                <a href="#" style="text-decoration: none;">Banner publicitário</a>
            </li>
            <li id="menu-item-24" class="list-group">
                <a href="#" style="text-decoration: none;">Promova seu anúncio</a>
            </li>
        </ul>
    </div>
</div>