{% load static %}

<div id="nav_menu-4" class="widget widget_nav_menu">
    <p class="h3 text-light">Suporte &#038;+</p>
    <div class="menu-support-container">
        <ul id="menu-support" class="list-group">
            <li id="menu-item-25" class="list-group">
                <a href="#" style="text-decoration: none;">Chat ao Vivo</a>
            </li>
            <li id="menu-item-26" class="list-group">
                <a href="#" style="text-decoration: none;">FAQ</a>
            </li>
            <li id="menu-item-27" class="list-group">
                <a href="#" style="text-decoration: none;">Como se manter seguro</a>
            </li>
            <li id="menu-item-746" class="list-group">
                <a href="#" style="text-decoration: none;">Termos e Condições</a>
            </li>
            <li id="menu-item-28" class="list-group">
                <a href="#" style="text-decoration: none;">Contate-nos</a>
            </li>
        </ul>
    </div>
</div>