{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm border-0 rounded-3">                    
                    <div class="card-body">
                        <h2 class="text-center">Config (Owner) </h2>
                        <div class="row border p-3 mb-3">                            
                            <button onclick="abrirVotacao()" class="btn btn-primary">Abrir Votação</button>
                        </div>
                        <div class="row border p-3 mb-3">
                            <button onclick="clearPresence()" class="btn btn-primary">Limpar Registros de Presença</button>
                        </div>
                        <div class="row border p-3 mb-3">
                            <button onclick="killContract()" class="btn btn-primary">Kill Contract</button>
                        </div>
                        <div class="row border p-3 mb-3">
                            <button onclick="getBlocksUntilVotingEnds()" class="btn btn-primary">Consultar Blocos Restantes</button>
                        </div>
                        <div id="blocksResult" style="margin-top:10px; font-weight:bold;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/wallet_connection.html" %}
<script src="{% static 'js/propostas/propostas.js' %}"></script>
<script src="{% static 'js/web3/muriloethereum.js' %}"></script>
<script src="{% static 'js/web3/web3.js' %}"></script>
<script src="{% static 'js/web3/connect.js' %}"></script>
<script src="{% static 'js/web3/979.connect.js' %}"></script>
<script src="{% static 'js/web3/416.connect.js' %}"></script>
<script src="{% static 'js/web3/120.connect.js' %}"></script>
<script src="{% static 'js/web3/initialize.js' %}"></script>
<script src="{% static 'js/web3/main.js' %}"></script>
{% endblock %}