{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm border-0 rounded-3">                    
                    <div class="card-body">
                        <h2 class="text-center">Propostas</h2>
                        <p class="text-center text-muted">Crie novas propostas e saque sua POL.</p>
                        {% include "partials/criar_proposta.html" %}
                        {% include "partials/sacar_pol.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="{% static 'js/propostas/proposer.js' %}"></script>
<script type="module" src="{% static 'js/web3/initialize.js' %}"></script>
{% include "partials/wallet_connection.html" %}
{% endblock %}