{% extends 'base.html' %}

{% block content %}

{% load static %}
<div>
    <div class="shadow p-4 mb-5 bg-body rounded">
        <div class="row">
            <h1 class="text-center">Valores do Token</h1>
        </div>
        <form method="POST" class="col-md-8 mx-auto" enctype="multipart/form-data" style="padding-top: 20px; padding-bottom: 20px;">
            {% csrf_token %}
            <input type="number" class="form-control" name="valor_brl" placeholder="Valor em BRL" required>
            <button type="submit" class="btn btn-primary">Adicionar novo valor</button>
        </form>
        <form method="GET" class="col-md-8 mx-auto" enctype="multipart/form-data" style="padding-top: 20px;">
            <table class="table">
                <thead>
                    <tr>                        
                        <th scope="col">Valor (BRL)</th>
                        <th scope="col">Alterado em</th>
                    </tr>
                </thead>
                <tbody>
                    {% for token in tokens %}
                    <tr>                        
                        <td>R${{ token.valor_brl }},00</td>
                        <td>{{ token.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% block script %}
<script>
    document.querySelectorAll('input[type="number"]').forEach(element => {
        element.addEventListener('keydown', (e) => {
            const validChars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
            if (!validChars.includes(e.key) && e.key !== 'Backspace' && e.key !== 'Tab' && e.key !== 'Enter' && e.key !== 'ArrowLeft' && e.key !== 'ArrowRight') {
                e.preventDefault();
            }
        });
    });


</script>
{% endblock %}
{% endblock %}
