{% load static %}
<div class="footer-top-area" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 offset-lg-3">
                {% include 'partials/footer_components/brand.html' %}
            </div>

            <!-- {% include 'partials/footer_components/links_uteis.html' %} -->
            
            <div class="col-lg-3">
                {% include 'partials/footer_components/informacoes_artigos.html' %}
            </div>
            <!-- {% include 'partials/footer_components/suporte.html' %} -->
        </div>
    </div>
</div>