{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logofraguinha.png' %}" alt="Fraguismo"
                style=
                "margin: 0 20px 0 20px;
                height: 70px !important;
                min-width: 75% !important;
                max-width: 96px !important;
                ">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler1"
            aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://academiafraguista.com/pt_br/">Academia Fraguista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'anarcopolis' %}">Anarcópolis</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        href="{% url 'index' %}">Fraguismo</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'sobre_nos'%}">Sobre Nós</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'contato' %}">Contato</a>
                        </li>
                        <!-- <li>
                                    <a class="dropdown-item" href="{% url 'administrativo'%}">Administrativo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'agenda' %}">Agenda</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item">Religião</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="https://fraguismo.org/religiao-educacional/">Educacional</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://fraguismo.org/galeria-de-fotos/">Galeria De
                                        Fotos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://fraguismo.org/faq/">FAQ</a>
                                </li> -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://ancapsu.com/site/artigos">Artigos</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="https://fraguismo.org/stores/">Lojas</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Negocie em Bitcoin</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_page' %}">Minha Área</a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adm' %}">Administrativo</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav mb-3 mb-lg-0">
                {% if user.is_authenticated %}
                {% include 'partials/consulta_usuarios.html' with url_address='lista_usuarios' %}
                {% endif %}
            </ul>

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% comment %} <li class="nav-item" style="font-size: 18px;">
                    <a class="nav-link active" title="Chat" href="https://fraguismo.org/minha-conta/chat/">
                        <i class="bi bi-chat" aria-hidden="true"></i>
                    </a>
                </li> {% endcomment %}
                <li class="nav-item" style="font-size: 18px;">
                    {% if user.is_authenticated %}
                    <a class="nav-link active" data-toggle="tooltip" title="Logout" href="{% url 'logout' %}">
                        <i class="bi bi-box-arrow-right" style="font-size: xx-large;"></i>
                    </a>
                    {% else %}
                    <a class="nav-link active" data-toggle="tooltip" title="Login/Registrar" href="{% url 'login' %}">
                        <i class="bi bi-person" style="font-size: xx-large;" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a class="btn btn-warning align-self-center btn-publish"
                        style="border-radius: 20px; margin-top: 15px;" aria-current="page"
                        href="{% url 'cadastrar_anuncio' %}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Publique aqui
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>