{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logofraguinha.png' %}" alt="Fraguismo"
                style=
                "margin: 0 20px 0 20px;
                height: 70px !important;
                min-width: 75% !important;
                max-width: 96px !important;
                ">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler1"
            aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://academiafraguista.com/">Academia Fraguista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'anarcopolis' %}">Anarcópolis</a>
                </li>
                {% include 'partials/navbar_components/fraguismo_dropdown.html' %}
                <li class="nav-item">
                    <a class="nav-link active" href="https://ancapsu.com/site/artigos">Artigos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Negocie em Bitcoin</a>
                </li>
                {% if user.is_authenticated %}
                {% include "partials/navbar_components/minha_area_dropdown.html" %}
                {% endif %}                
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adm' %}">Administrativo</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav mb-3 mb-lg-0">
                {% if user.is_authenticated %}
                {% include 'partials/consulta_usuarios.html' with url_address='lista_usuarios' %}
                {% endif %}
            </ul>
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">                
                {% include "partials/navbar_components/login_section.html" %}
                <li>
                    <a class="btn btn-warning align-self-center btn-publish"
                        style="border-radius: 20px; margin-top: 15px;" aria-current="page"
                        href="{% url 'cadastrar_anuncio' %}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Publique aqui
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>